<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/styles/css/insight.css">
  
    <?php include 'base_head.html'; ?>

    <title>Insights</title>
  </head>
  <body>
    <?php include 'navbar.html'; ?>

    <section id="news">

      <h1>Insights</h1>
    
      <div class="news">
          <div class="new">
            
            <img src="../assets/images/foto.png" />
              <h3> Example title </h3>
              <p>Example description</p>
            <a href="">
              <button>
                  Read More
              </button>
            </a>
    
          </div>
      </div>
    </section>

    <?php include 'footer.html'; ?>

  </body>

  <script type="text/javascript" src="../assets/scripts/change_menu.js"></script>

</html>
