{% extends 'ucbusinesssite/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'ucbusinesssite/css/insight.css' %}">
  <title>Insights</title>
{% endblock %}

{% block content %}
<section id="news">

    <h1>Insights</h1>

  <div class="news">
    {% for article in news %}
      <div class="new">
        <img src="{{ article.imageurl_set.first.url }}" />
        {% if request.session.language == 'EN' %}
          <h3> {{ article.titleEn }} </h3>
          <p>{{ article.bodyEn|truncatewords:20 }}</p>
        {% else %}
          <h3> {{ article.title }} </h3>
          <p>{{ article.body|truncatewords:20 }}</p>
        {% endif %}
        <a href="{% url 'ucbusinesssite:newsArticle' article.title %}">
          <button>
            {% if request.session.language == 'EN' %}
              Read More
            {% else %}
              <!-- Inserir texto em PT -->
            {% endif %}
          </button>
        </a>

      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block script %}

{% endblock %}
