<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/abous_us.css">
    <link rel="stylesheet" href="assets/css/general.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <title>About Us</title>
</head>
<body>
<header>
    <div class="header">
        <a href="index.html"><img id="logo_ucb" src="assets/photos/ucb_logo.png" height="1441" width="1997" alt="logo_ucb"/></a>
        <img id="logo_uc" src="assets/photos/uc_logo.png" alt="logo_uc"/>
        <h6> <a>PT</a>  <a>EN</a></h6>
    </div>
</header>

    <div class="menu">
        <h5>
            <a href="about_us.html"> About us</a>
            <a href="ucvalue.html">UC Value</a>
            <a href="ucinvest.html">UC Invest</a>
            <a href="ucpartnership.html">UC Partnership</a>
            <a href="news.html"> News</a>
            <a>Contacts</a>
        </h5>
    </div>

 <div class="about">
     <h1>About us</h1>
     <p> Our Mission</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices, sapien nec ornare luctus, arcu nunc fringilla mauris, id finibus lorem massa ut arcu. Ut sodales vehicula vehicula. Praesent interdum ante quis ultricies ultrices. Suspendisse potenti. Quisque auctor erat est, tempus finibus est imperdiet id. Quisque ac varius sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eget finibus enim. Cras gravida ac ante in pretium. Maecenas eu posuere lectus, et sagittis eros. Nulla vel dictum mauris, eu porttitor dui. Nam turpis metus, accumsan at tempus ut, placerat id justo. Aliquam in nisi interdum, rutrum quam vel, blandit libero. In quis purus maximus, convallis ex eget, efficitur sapien.
    </p>

     <h1>Team</h1>
 </div>
<section class="team">
    <div class="member1">
         <div class="rect_team">
             <h4>Luís Simões da Silva</h4>
                <h5>Vice-Rector for Innovation and Entrepreneurship</h5>
         </div>
     <img src="assets/photos/luis_silva.jpg" />
    </div>

     <div class="team1">

        <div class="member2">
             <div class="rect_team">
                 <h4>Nuno Mendonça</h4>
                 <h5>Coordinator</h5>
                 <h5>nuno.mendoca@uc.pt</h5>

             </div>
            <img src="assets/photos/NunoMendonca.jpg"alt="nuno mendonça"/>
        </div>

        <div class="member3">
            <div class="rect_team">
                <h4>Ana Rita Querido</h4>
                <h5>Projects Management</h5>
                <h5>ana.rita.querido@uc.pt</h5>
            </div>
            <img src="assets/photos/AnaRitaQuerido.jpg" alt="ana querido"/>
        </div>
     </div>


    <div class="team2">
      <div class="member4">
          <div class="rect_team">
              <h4>Carla Marques</h4>
              <h5>Projects Management</h5>
              <h5>carla.marques@uc.pt</h5>
          </div>
          <img src="assets/photos/CarlaMarques.jpg" alt="carla marques"/>
      </div>
      <div class="member5">
          <div class="rect_team">
              <h4>Daniel Silva</h4>
              <h5>Projects Management</h5>
              <h5>daniel.silva@uc.pt</h5>
          </div>
          <img src="assets/photos/DanielSilva.JPG" alt="daniel silva"/>
      </div>

    </div>

    <div class="team3">
      <div class="member6">
          <div class="rect_team">
              <h4>Helena Henriques</h4>
              <h5>Projects Management</h5>
              <h5>helena.henriques@uc.pt</h5>
          </div>
          <img src="assets/photos/HelenaHenriques.JPG" alt="helena henriques"/>
      </div>

      <div class="member7">
         <div class="rect_team">
             <h4>Laura Alho</h4>
             <h5>Projects Management</h5>
             <h5>laura.alho@uc.pt</h5>

         </div>
         <img src="assets/photos/LauraAlho.JPG" alt="laura alho"/>
      </div>

    </div>

    <div class="team4">
      <div class="member8">
         <div class="rect_team">
             <h4>Luís Silva</h4>
             <h5>Projects Management</h5>
             <h5>luis.silva@uc.pt</h5>
         </div>
         <img src="assets/photos/LuisSilva.jpg" alt="luis silva"/>
      </div>

      <div  class="member9">
         <div class="rect_team">
             <h4>Marta Silva</h4>
             <h5>Projects Management</h5>
             <h5>marta.c.silva@uc.pt</h5>
         </div>
         <img src="assets/photos/MartaCostaeSilva.JPG" alt="marta silva"/>
      </div>

    </div>

    <div class="team5">
      <div class="member13">
          <div class="rect_team">
              <h4>Mónica Wolters</h4>
              <h5>Projects Management</h5>
              <h5>monica.wolters@uc.pt</h5>
          </div>
          <img src="assets/photos/MonicaWolters.jpg" alt="monica wolters"/>
       </div>

    </div>


</section>
<footer>
  <div class="footer-middle">
    <h1>Let´s stay in contact!</h1>
  </div>

  <div class="footer-contacts">
      <h5> Rectory Pólo II
      <br> R. Luís Reis dos Santos 290,
      <br>3030-790 Coimbra
      <p>ucbusiness@uc.pt</p> </h5>
  </div>
  <div class="footer-social">
    <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id= "facebook" src="assets/photos/facebook.svg" height="35" width="35"alt="facebook"/></a>
    <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img  id="linkedin" src="assets/photos/linkedin.svg"height="35" width="35" alt="linkedin"/> </a>
    <a href=" https://twitter.com/business_uc" target="_blank"> <img  id="twitter" src="assets/photos/twitter.svg"height="35" width="35" alt="twitter"/> </a>
  </div>


</footer>

</body>
</html>
