{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/abous_us.css' %}">
    <title>About Us</title>
</head>
<body>
<header>
    <div class="header">
        <a href="{% url 'ucBusinessSite:landingPage' %}"><img id="logo_ucb" src="{% static 'ucbusinesssite/photos/ucb_logo.png' %}" height="1441" width="1997" alt="logo_ucb"/></a>
        <img id="logo_uc" src="{% static 'ucbusinesssite/photos/uc_logo.png' %}" alt="logo_uc"/>
        <h6> <a href="#">PT</a>  <a href="#">EN</a></h6>
    </div>
</header>

<div class="menu">
    <h5>
        <a href="{% url 'ucBusinessSite:aboutPage' %}"> About us</a>
        <a>UC Value</a> <img src="{% static 'ucbusinesssite/photos/arrow.png' %}" height="8" width="14"/>
        <a>UC Invest</a> <img src="{% static 'ucbusinesssite/photos/arrow.png' %}" height="8" width="14"/>
        <a>UC Partnership</a> <img src="{% static 'ucbusinesssite/photos/arrow.png' %}" height="8" width="14"/>
        <a href="{% url 'ucBusinessSite:newsPage' %}"> News</a>
        <a href="#">Contacts</a>
    </h5>
</div>

 <div class="about">
     <h1>About us</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula gravida aliquet. Proin euismod a enim non vulputate. Nunc facilisis mauris nisl, non eleifend diam rhoncus in. Mauris orci ante, sollicitudin sed risus at, posuere sagittis ligula. Phasellus finibus efficitur vestibulum. Sed sed semper massa. Mauris cursus egestas egestas. Quisque pulvinar justo elit, quis tincidunt lectus blandit ac. Pellentesque et sollicitudin lorem, at vulputate mauris. Curabitur volutpat lacinia lacus, id ullamcorper felis vehicula nec. Pellentesque pellentesque dui ut consectetur molestie. Vivamus sed risus augue.

         Sed in interdum tellus. Aenean id imperdiet ex. Curabitur suscipit pharetra turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ultricies nunc rhoncus congue pulvinar. Praesent vel purus condimentum, sagittis lorem sed, vestibulum augue. Nam nunc leo, bibendum tempor nunc et, lacinia lobortis eros. Donec mi justo, tempor dignissim risus et, tincidunt laoreet quam. Morbi varius, lorem eget sollicitudin volutpat, nisl nisl varius orci, at tempus neque magna ac tortor. Curabitur nec risus rutrum turpis semper viverra et vel leo. Etiam nibh justo, fermentum sed vulputate ut, placerat in nunc. Aliquam hendrerit neque quis lectus blandit sollicitudin. Nullam libero dolor, vestibulum nec nulla sit amet, pulvinar gravida velit. In ac massa vitae nisi rutrum vehicula ac sed tellus.</p>

     <h1>Team</h1>
 </div>
<section class="team">
    <div class="member1">
         <div class="rect">
             <h4>Luís Simões da Silva</h4>
                <h5>Vice-Rector for Innovation and Entrepreneurship</h5>
         </div>
     <img src="{% static 'ucbusinesssite/photos/luis_silva.jpg' %}"/>
    </div>
    
     <div class="team1">

         <div class="member2">
            <div class="rect">
                <h4>Jorge Figueira</h4>
                <h5>Coordinator</h5>
            </div>
             <img src="{% static 'ucbusinesssite/photos/JorgeFigueira.jpg' %}"  alt="jorge figueira"/>
        </div>

        <div class="member3">
             <div class="rect">
                 <h4>Nuno Mendonça</h4>
                 <h5>Coordinator</h5>
             </div>
            <img src="{% static 'ucbusinesssite/photos/NunoMendonca.jpg' %}"alt="nuno mendonça"/>
        </div>
     </div>


    <div class="team2">
         <div class="member4">
             <div class="rect">
                 <h4>Ana Frade</h4>
                 <h5>Projects Management</h5>
             </div>
             <img src="{% static 'ucbusinesssite/photos/AnaFrade.jpg' %}" alt="ana frade"/>
         </div>

         <div class="member5">
             <div class="rect">
                 <h4>Ana Rita Querido</h4>
                 <h5>Projects Management</h5>
             </div>
             <img src="{% static 'ucbusinesssite/photos/AnaRitaQuerido.jpg' %}" alt="ana querido"/>
         </div>
    </div>

    <div class="team3">
        <div class="member6">
            <div class="rect">
                <h4>Carla Marques</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/CarlaMarques.jpg' %}" alt="carla marques"/>
        </div>

         <div class="member7">
            <div class="rect">
            <h4>Cláudio Martins</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/ClaudioMartins.jpg' %}" alt="claudio martins"/>
         </div>
    </div>

    <div class="team4">
        <div class="member8">
            <div class="rect">
                <h4>Daniel Silva</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/DanielSilva.jpg' %}" alt="daniel silva"/>
        </div>

        <div class="member9">
            <div class="rect">
                <h4>Helena Henriques</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/HelenaHenriques.jpg' %}" alt="helena henriques"/>
        </div>
    </div>

    <div class="team5">
         <div class="member10">
            <div class="rect">
                <h4>Laura Alho</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/LauraAlho.jpg' %}" alt="laura alho"/>
         </div>

         <div class="member11">
            <div class="rect">
                <h4>Luís Silva</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/LuisSilva.jpg' %}" alt="luis silva"/>
         </div>
    </div>

    <div class="team6">
             <div  class="member12">
                <div class="rect">
                    <h4>Marta Silva</h4>
                    <h5>Projects Management</h5>
                </div>
                <img src="{% static 'ucbusinesssite/photos/MartaCostaeSilva.jpg' %}" alt="marta silva"/>
             </div>

        <div class="member13">
            <div class="rect">
                <h4>Mónica Wolters</h4>
                <h5>Projects Management</h5>
            </div>
            <img src="{% static 'ucbusinesssite/photos/MonicaWolters.jpg' %}" alt="monica wolters"/>
         </div>
    </div>

</section>


</body>
</html>