{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/abous_us.css' %}">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/colors.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'ucbusinesssite/photos/ucb_logo.ico' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <title>About Us</title>
</head>
<body>
<header>
    <div class="header">
        <a href="{% url 'ucbusinesssite:index' %}"><img id="logo_ucb" src="{% static 'ucbusinesssite/photos/ucb_logo.png' %}" height="1441" width="1997" alt="logo_ucb"/></a>
        <div id="dir">
          <img id="logo_uc" src="{% static 'ucbusinesssite/photos/uc_logo_hor.png' %}" alt="logo_uc"/>
        <!-- <h6> <a>PT</a>  <a>EN</a></h6> -->
    </div>
    </div>
</header>

<section id="navbar">
        <div class="menu">
          <div class="rect-menu">

            <button id="container" onclick="changeMenu()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </button>

            <h4 id="menu-txt">
              <a href="{% url 'ucbusinesssite:about' %}">About us</a>
              <a href="{% url 'ucbusinesssite:ucValue' %}"> Value</a>
              <a href="{% url 'ucbusinesssite:ucInvest' %}"> Invest</a>
              <a href="{% url 'ucbusinesssite:ucPartnership' %}"> Partnership</a>
              <a href="{% url 'ucbusinesssite:insights' %}"> Insights</a>
              <a href="{% url 'ucbusinesssite:contacts' %}">Contacts</a>
            </h4>
        </div>
        </div>
  </section>

 <div class="about">
     <!-- <h1>About us</h1>
     <div id="mission">
       <h4> Our Mission</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices, sapien nec ornare luctus, arcu nunc fringilla mauris, id finibus lorem massa ut arcu. Ut sodales vehicula vehicula. Praesent interdum ante quis ultricies ultrices. Suspendisse potenti. Quisque auctor erat est, tempus finibus est imperdiet id. Quisque ac varius sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eget finibus enim. Cras gravida ac ante in pretium. Maecenas eu posuere lectus, et sagittis eros. Nulla vel dictum mauris, eu porttitor dui. Nam turpis metus, accumsan at tempus ut, placerat id justo. Aliquam in nisi interdum, rutrum quam vel, blandit libero. In quis purus maximus, convallis ex eget, efficitur sapien.
       </p>
     </div> -->

     <h1>Team</h1>
 </div>
<section class="team">

        <div class="member1">
          <img src="{% static 'ucbusinesssite/photos/luis_silva.jpg' %}" />
             <div class="member-info">
                 <h4>Luís Simões da Silva</h4>
                 <h5>Vice-Rector for Innovation and Entrepreneurship</h5>
                 <h5>vr.luis.simoes.silva@uc.pt</h5>
             </div>

        </div>
<div id="team-grid">
        <div class="member">
          <img src="{% static 'ucbusinesssite/photos/NunoMendonca.jpg' %}"alt="nuno mendonça"/>
             <div class="member-info">
                 <h4>Nuno Mendonça</h4>
                 <h5>Coordinator<br>nuno.mendoca@uc.pt</h5>
             </div>

        </div>

        <div class="member">
          <img src="{% static 'ucbusinesssite/photos/AnaRitaQuerido.jpg' %}" alt="ana querido"/>
            <div class="member-info">
                <h4>Ana Rita Querido</h4>
                <h5>Projects Management<br>ana.querido@uc.pt</h5>
            </div>
        </div>


      <div class="member">
            <img src="{% static 'ucbusinesssite/photos/CarlaMarques.jpg' %}" alt="carla marques"/>
          <div class="member-info">
              <h4>Carla Marques</h4>
              <h5>Projects Management
              <br>carla.marques@uc.pt</h5>
          </div>
      </div>

      <div class="member">
            <img src="{% static 'ucbusinesssite/photos/DanielSilva.JPG' %}" alt="daniel silva"/>
          <div class="member-info">
              <h4>Daniel Silva</h4>
              <h5>Projects Management<br>daniel.silva@uc.pt</h5>
          </div>
      </div>


      <div class="member">
        <img src="{% static 'ucbusinesssite/photos/HelenaHenriques.JPG' %}" alt="helena henriques"/>
          <div class="member-info">
              <h4>Helena Henriques</h4>
              <h5>Projects Management<br>helena.henriques@uc.pt</h5>
          </div>

      </div>

      <div class="member">
        <img src="{% static 'ucbusinesssite/photos/LauraAlho.JPG' %}" alt="laura alho"/>
         <div class="member-info">
             <h4>Laura Alho</h4>
             <h5>Projects Management<br>laura.alho@uc.pt</h5>
         </div>

      </div>

      <div class="member">
        <img src="{% static 'ucbusinesssite/photos/LuisSilva.jpg' %}" alt="luis silva"/>
         <div class="member-info">
             <h4>Luís Silva</h4>
             <h5>Projects Management<br>luis.silva@uc.pt</h5>
         </div>

      </div>

      <div  class="member">
        <img src="{% static 'ucbusinesssite/photos/MartaCostaeSilva.JPG' %}" alt="marta silva"/>
         <div class="member-info">
             <h4>Marta Silva</h4>
             <h5>Projects Management<br>marta.c.silva@uc.pt</h5>
         </div>

      </div>

      <div class="member">
        <img src="{% static 'ucbusinesssite/photos/MonicaWolters.jpg' %}" alt="monica wolters"/>
          <div class="member-info">
              <h4>Mónica Wolters</h4>
              <h5>Projects Management<br>monica.wolters@uc.pt</h5>
          </div>
       </div>
     </div>



</section>
<footer id="footer">
  <div class="footer-left">
    <h1>Let's stay in contact!</h1>

      <h5> Rectory Pólo II
      <br> R. Luís Reis dos Santos 290,
      <br>3030-790 Coimbra</h5>
      <h5><p> ucbusiness@uc.pt </p> </h5>

  <div class="footer-social">
    <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id= "facebook" src="{% static 'ucbusinesssite/photos/facebook.svg' %}" height="35" width="35"alt="facebook"/></a>
    <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img  id="linkedin" src="{% static 'ucbusinesssite/photos/linkedin.svg' %}"height="35" width="35" alt="linkedin"/> </a>
    <a href=" https://twitter.com/business_uc" target="_blank"> <img  id="twitter" src="{% static 'ucbusinesssite/photos/twitter.svg' %}"height="35" width="35" alt="twitter"/> </a>
  </div>
  </div>
  <div class="footer-right">
    <img id="ucbranco" src="{% static 'ucbusinesssite/photos/uc_branco.png' %}" alt="uc_logo">
  </div>
</footer>

</body>
</html>

<script>
function changeMenu(){

if ($('#menu-txt').css('display') == 'none'){
  $('#menu-txt').css('display', 'block');
  $('.rect-menu').css('height', '100vh');
}
else{
  $('#menu-txt').css('display', 'none');
  $('.rect-menu').css('height', '8vh');
}
}
</script>
