{% extends 'ucbusinesssite/base.html' %}
{% load static %}

{% block head %}
<meta name="keywords" content="uc, business, coimbra, portugal, invest, partnership, value, students, investigator">
<link rel="stylesheet" href="{% static 'ucbusinesssite/css/style.css' %}">
<script src="{% static 'ucbusinesssite/javascript/index.js' %}"></script>
<title>UC Business</title>
{% endblock head %}

{% block content %}

<section id="logo-anim">

<div id="info-ucb">
    <img id="ucb-logo" src="{% static 'ucbusinesssite/photos/ucb_logo2.png' %}">

    <div class="txt-ucb">
      <h4>
        {% if request.session.language == 'EN' %}
          Transform the University of Coimbra into an essential partner for the business world, structured in 3 major business areas:
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </h4>
      <div id="areas">
        {% if request.session.language == 'EN' %}
          <h3>Large <br> Companies</h3>
          <h3>National <br> SMEs</h3>
          <h3>Start-ups and <br> Spin-offs</h3>
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </div>
    </div>
  </div>

  <div id="info-pilares">

    <div class="info">
      <img src="{% static 'ucbusinesssite/photos/value.png' %}">
      <h4>
        {% if request.session.language == 'EN' %}
          Create short-term value (with financial return) based on existing skills.
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </h4>
      <a href="{% url 'ucbusinesssite:ucValue' %}">
        <button type="button">>
          {% if request.session.language == 'EN' %}
            Find out more
          {% else %}
            <!-- Inserir texto em PT -->
          {% endif %}
        </button>
      </a>
    </div>

    <div class="info">
      <img src="{% static 'ucbusinesssite/photos/partnership.png' %}">
      <h4>
        {% if request.session.language == 'EN' %}
          Foster multi-level partnerships.
        {% else %}
          <!-- Inseir texto em PT -->
        {% endif %}
      </h4>

      <a href="{% url 'ucbusinesssite:ucPartnership' %}">
        <button type="button">
          {% if request.session.language == 'EN' %}
            > Find out more
          {% else %}
            <!-- Inserir texto em PT -->
          {% endif %}
        </button>
      </a>
    </div>

    <div class="info">
      <img src="{% static 'ucbusinesssite/photos/invest.png' %}">
      <h4>
        {% if request.session.language == 'EN' %}
          Invest in value development in the medium term.
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </h4>
      <a href="{% url 'ucbusinesssite:ucInvest' %}">
        <button type="button">
          {% if request.session.language == 'EN' %}
            > Find out more
          {% else %}
            <!-- Inserir texto em PT -->
          {% endif %}
        </button>
      </a>
    </div>



  </div>


</section>

<section id="timeline">
  <div>
      <div id="rectangle" class="rectangle">
      <p id="rectangle_message">
      </p>
      <div id="txt-background">
        <h3> {{month}} </h3>
      </div>
      </div>
  </div>


</section>

  <section id="news-container">
    <h1>
      {% if request.session.language == 'EN' %}
        Insights
      {% else %}
        <!-- Inserir texto em PT -->
      {% endif %}
    </h1>

    <div class="container">

      <div class="new1">
        {% if newsArticle1 %}
          <div class="txt_new">
            <h4>{{ newsArticle1.datePosted|date:'j F' }}</h4>
            <h4>
              {% if request.session.language == 'EN' %}
                {{ newsArticle1.titleEn }}
              {% else %}
                {{ newsArticle1.title }}
              {% endif %}
            </h4>

          </div>
          {% if image1 %}
            <img src="{{ image1.url }}" alt="img1" />
          {% else %}
            <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/79658586_452867198752503_5277081971334316032_o.jpg?_nc_cat=107&_nc_oc=AQkN5W522Ur1eRF6DcG-Sgg5fE20yxwCA5eXlnqjhZUkEfy-QEbNLj6nyucIG3kO9as&_nc_ht=scontent.flis6-1.fna&oh=ec4d8c6635338d1a535e6c11fad391ab&oe=5EAAA937">
          {% endif %}
          <div class="rect-new">
            <a href="{% url 'ucbusinesssite:newsArticle' newsArticle1.title %}">
              <button type="button">
                {% if request.session.language == 'EN' %}
                  > Find out more
                {% else %}
                  <!-- Inserir texto em PT -->
                {% endif %}
              </button>
            </a>
          </div>
        {% endif %}
      </div>

      <div class="new2">
        {% if newsArticle2 %}
          <div class="txt_new">
            <h4>{{ newsArticle2.datePosted|date:'j F' }}</h4>
            <h4>
              {% if request.session.language == 'EN' %}
                {{ newsArticle2.titleEn }}
              {% else %}
                {{ newsArticle2.title }}
              {% endif %}
            </h4>

          </div>
          {% if image2 %}
            <img src="{{ image2.url }}" alt="img2">
          {% else %}
            <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/79658586_452867198752503_5277081971334316032_o.jpg?_nc_cat=107&_nc_oc=AQkN5W522Ur1eRF6DcG-Sgg5fE20yxwCA5eXlnqjhZUkEfy-QEbNLj6nyucIG3kO9as&_nc_ht=scontent.flis6-1.fna&oh=ec4d8c6635338d1a535e6c11fad391ab&oe=5EAAA937" alt="img">
          {% endif %}
          <div class="rect-new">
            <a href="{% url 'ucbusinesssite:newsArticle' newsArticle2.title %}">
              <button type="button">
                {% if request.session.language == 'EN' %}
                  > Find out more
                {% else %}
                  <!-- Inserir texto em PT -->
                {% endif %}
              </button>
            </a>
          </div>
        {% endif %}
      </div>

    </div>

  </section>
{% endblock content %}


{% block script %}
  <script>

  function changeMenu(){

  if ($('#menu-txt').css('display') == 'none'){
    $('#menu-txt').css('display', 'block');
    $('.rect-menu').css('height', '100vh');
  }
  else{
    $('#menu-txt').css('display', 'none');
    $('.rect-menu').css('height', '8vh');
  }
  }
  function hideCookie(){
      $('.cookiebanner').css('display', 'none');
  }


window.onload = function () {
        var data = {
          // "6": "Inauguração Vice-Reitoria Pólo II e Lançamento do UC Business e Lançamento ASUC Ensino Secundário",
          // "11": "Apresentação do projeto Fit4work"
          "10":"Assinatura Protocolo UniLoop com Fundação Calouste Gulbenkian, EGF, The Loop Company e Universidade de Coimbra - 12h"
        }

        var node = document.getElementById("rectangle")
        var months= ["jan","fev","mar","apr","may","jun","jul","aug","set","oct","nov", "dec"]
        var days=["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"]
        var numdays=31;
        var rectangle_message = document.querySelector("#rectangle_message")

        for (var i = 0; i < numdays; ++i) {
                var circle = document.createElement("div")
                var text = document.createElement("span")
                var hour= document.createElement("span")
                text.innerHTML = days[i]
                circle.classList.add("circle")
                if (data[days[i]] != undefined) {
                  circle.classList.add("filled_circle")
                  circle.onmouseover = function()  {
                    if (rectangle_message.style.display == "" || rectangle_message.style.display == "none") {
                      rectangle_message.innerText = data[this.innerText]
                      rectangle_message.style.display = "block"
                    } else {
                      rectangle_message.style.display = "none"
                    }

                  }
                }
                circle.appendChild(text);
                node.appendChild(circle)
        }


}
</script>
{% endblock %}
