{% extends 'ucbusinesssite/base.html' %}
{% load static %}

{% block head %}
<meta name="keywords" content="uc, business, coimbra, portugal, invest, partnership, value, students, investigator">
<link rel="stylesheet" href="{% static 'ucbusinesssite/css/style.css' %}">
<script src="{% static 'ucbusinesssite/javascript/events.js' %}"></script>
<title>UC Business</title>
{% endblock head %}

{% block video %}
<video class="video-ucb" muted autoplay controls loop playsinline>
  <source src="{% static 'ucbusinesssite/photos/video.mp4' %}" type="video/MP4">
   Your browser does not support the HTML5 video tag. Try updating your browser or using a different one.
</video>
{% endblock %}

{% block content %}

<section id="logo-anim">

<div id="info-ucb">
    <!-- <img id="ucb-logo" src="{% static 'ucbusinesssite/photos/ucb_logo2.png' %}"> -->

    <video id="ucb-logo" width="100%"  loop muted playsinline>
      <source src="{% static 'ucbusinesssite/photos/ucbusiness.mp4' %}" type="video/MP4">
    </video>

    <div class="txt-ucb">
      <h4>
        {% if request.session.language == 'EN' %}
          Transform the University of Coimbra into an essential partner for the business world, structured in 3 major business areas:
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </h4>
      <div id="areas">
        {% if request.session.language == 'EN' %}
          <h3>Large Companies</h3>
          <h3>National SMEs</h3>
          <h3>Start-ups and Spin-offs</h3>
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </div>
    </div>
  </div>

  <div id="info-pilares">

    <div class="info">
      <img src="{% static 'ucbusinesssite/photos/value.png' %}">
      <div class="txt-but">
      <h4>
        {% if request.session.language == 'EN' %}
          Create short-term value (with financial return) based on existing skills.
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </h4>
      <a href="{% url 'ucbusinesssite:ucValue' %}">
        <button type="button">>
          {% if request.session.language == 'EN' %}
            Find out more
          {% else %}
            <!-- Inserir texto em PT -->
          {% endif %}
        </button>
      </a>
      </div>
    </div>

    <div class="info">
      <img src="{% static 'ucbusinesssite/photos/partnership.png' %}">
      <div class="txt-but">
      <h4>
        {% if request.session.language == 'EN' %}
          Foster multi-level partnerships.
        {% else %}
          <!-- Inseir texto em PT -->
        {% endif %}
      </h4>

      <a href="{% url 'ucbusinesssite:ucPartnership' %}">
        <button type="button">
          {% if request.session.language == 'EN' %}
            > Find out more
          {% else %}
            <!-- Inserir texto em PT -->
          {% endif %}
        </button>
      </a>
      </div>
    </div>


    <div class="info">
      <img src="{% static 'ucbusinesssite/photos/invest.png' %}">
      <div class="txt-but">
      <h4>
        {% if request.session.language == 'EN' %}
          Invest in value development in the medium term.
        {% else %}
          <!-- Inserir texto em PT -->
        {% endif %}
      </h4>
      <a href="{% url 'ucbusinesssite:ucInvest' %}">
        <button type="button">
          {% if request.session.language == 'EN' %}
            > Find out more
          {% else %}
            <!-- Inserir texto em PT -->
          {% endif %}
        </button>
      </a>
      </div>
    </div>

  </div>


</section>

<section id="timeline">



  <div>
      <div id="rectangle" class="rectangle">
        <p id="rectangle_message"> </p>
      <div id="txt-background">
        <h3 id="month-txt">  </h3>
      </div>
         <div id="container_news">
        </div>
      </div>
      <div id="buttons-time">
        <button id="prev-button"> < Previous <br> Month </button>
        <button id="next-button"> Next<br> Month > </button>
      </div>
  </div>



</section>

  <section id="news-container">
    <h1>
      {% if request.session.language == 'EN' %}
        Insights
      {% else %}
        <!-- Inserir texto em PT -->
      {% endif %}
    </h1>

    <div class="container">

      {% for newsArticle in newsArticles %}
        <div class="news-index">
          <div class="txt_new">
            <h4>{{ newsArticle.datePosted|date:'j / n / Y' }}</h4>
            <h4>
              {% if request.session.language == 'EN' %}
                {{ newsArticle.titleEn|truncatechars:40 }}
              {% else %}
                {{ newsArticle.title|truncatechars:40 }}
              {% endif %}
            </h4>
          </div>
          {% if newsArticle.imageurl_set.first %}
            {% with newsArticle.imageurl_set.all|first as image %}
                <img src="{{ image.url }}" alt="newsImage">
            {% endwith %}
          {% else %}
            <img src="https://scontent.fopo1-1.fna.fbcdn.net/v/t1.0-9/69475889_389069908465566_5568746573271138304_o.png?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=isQiCeTGmeQAX_8bYjd&_nc_ht=scontent.fopo1-1.fna&oh=9631798db4a53db512b6958f0ee1f1af&oe=5E93257E" alt="newsImage">
          {% endif %}
          <div class="rect-new">
            <a href="{% url 'ucbusinesssite:newsArticle' newsArticle.title %}">
              <button type="button">
                {% if request.session.language == 'EN' %}
                  > Find out more
                {% else %}
                  <!-- Inserir texto em PT -->
                {% endif %}
              </button>
            </a>
          </div>
        </div>
      {% endfor %}


    </div>

  </section>
{% endblock content %}


{% block script %}
  <script>



  var vid = document.getElementById("ucb-logo");
  vid.playbackRate = 0.8;

</script>
{% endblock %}
