<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/insight.css">
    <link rel="stylesheet" href="assets/css/general.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <link rel="icon" type="image/x-icon" href="assets/photos/ucb_logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <title>Insight</title>
</head>
<body>
<header>
  <div class="header">
      <a href="index.html"><img id="logo_ucb" src="assets/photos/ucb_logo.png" height="1441" width="1997" alt="logo_ucb"/></a>
      <div id="dir">
        <img id="logo_uc" src="assets/photos/uc_logo_hor.png" alt="logo_uc"/>
        <!-- <h6> <a>PT</a>  <a>EN</a></h6> -->
      </div>
  </div>
</header>

<section id=navbar>
        <div class="menu">
          <div class="rect-menu">

            <button id="container" onclick="changeMenu()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </button>

            <h4 id="menu-txt">
              <a href="about_us.html">About us</a>
              <a href="ucvalue.html"> Value</a>
              <a href="ucinvest.html"> Invest</a>
              <a href="ucpartnership.html"> Partnership</a>
              <a href="insight.html"> Insight</a>
              <a href="contacts.html">Contacts</a>
            </h4>
        </div>
        </div>
  </section>

<section id="news">

    <h1>Insight</h1>

  <div class="news">
    <div class="new">
        <img src="https://media.licdn.com/dms/image/C5622AQHDuHX7Q0dheQ/feedshare-shrink_1280/0?e=1578528000&v=beta&t=BGP0IceAR3ULvs39KuZowFF6YNSN5dlGZIrOSgCeM0E" />
        <h3> Lançamento UC Business </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ullamcorper tortor...</p>
        <button  onclick="location.href='new.html'">   Read More </button>
        </div>
    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQG5OskoivYVbA/feedshare-shrink_2048_1536/0?e=1578528000&v=beta&t=LFp_T_4sW1TDE0V-IDpfvkgVdy-20N_X8nTQF6g24XQ" />
        <h3> Lançamento UC Business </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ullamcorper tortor...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQEJt9zC7DL7yw/feedshare-shrink_1280/0?e=1578528000&v=beta&t=1lb8Aw6oSSDaiX-OUFcfaAF7M68JNUuYUposy5iZd2s" />
        <h3> Lançamento UC Business </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ullamcorper tortor...</p>
        <button type="button">Read More</button>
    </div>
    <div class="new">
        <img src="https://media.licdn.com/dms/image/C5622AQHDuHX7Q0dheQ/feedshare-shrink_1280/0?e=1578528000&v=beta&t=BGP0IceAR3ULvs39KuZowFF6YNSN5dlGZIrOSgCeM0E" />
        <h3> Lançamento UC Business </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ullamcorper tortor...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQG5OskoivYVbA/feedshare-shrink_2048_1536/0?e=1578528000&v=beta&t=LFp_T_4sW1TDE0V-IDpfvkgVdy-20N_X8nTQF6g24XQ" />
        <h3> Lançamento UC Business </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ullamcorper tortor...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQEJt9zC7DL7yw/feedshare-shrink_1280/0?e=1578528000&v=beta&t=1lb8Aw6oSSDaiX-OUFcfaAF7M68JNUuYUposy5iZd2s" />
        <h3> Lançamento UC Business </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ullamcorper tortor...</p>
        <button type="button">Read More</button>
    </div>
  </div>

</section>

<footer id="footer">
  <div class="footer-left">
    <h1>Let's stay in contact!</h1>

      <h5> Rectory Pólo II
      <br> R. Luís Reis dos Santos 290,
      <br>3030-790 Coimbra</h5>
      <h5><p> ucbusiness@uc.pt </p> </h5>

  <div class="footer-social">
    <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id= "facebook" src="assets/photos/facebook.svg" height="35" width="35"alt="facebook"/></a>
    <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img  id="linkedin" src="assets/photos/linkedin.svg"height="35" width="35" alt="linkedin"/> </a>
    <a href=" https://twitter.com/business_uc" target="_blank"> <img  id="twitter" src="assets/photos/twitter.svg"height="35" width="35" alt="twitter"/> </a>
  </div>
  </div>
  <div class="footer-right">
    <img id="ucbranco" src="assets/photos/uc_branco.png" alt="uc_logo">
  </div>
</footer>

<script>

function changeMenu(){

if ($('#menu-txt').css('display') == 'none'){
  $('#menu-txt').css('display', 'block');
  $('.rect-menu').css('height', '100vh');
}
else{
  $('#menu-txt').css('display', 'none');
  $('.rect-menu').css('height', '8vh');
}
}
</script>
