{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/insight.css' %}">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/colors.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'ucbusinesssite/photos/ucb_logo.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <title>Insights</title>
</head>
<body>
<header>
  <div class="header">
      <a href="{% url 'ucbusinesssite:index' %}"><img id="logo_ucb" src="{% static 'ucbusinesssite/photos/ucb_logo.png' %}" height="1441" width="1997" alt="logo_ucb"/></a>
      <div id="dir">
        <img id="logo_uc" src="{% static 'ucbusinesssite/photos/uc_logo_hor.png' %}" alt="logo_uc"/>
        <!-- <h6> <a>PT</a>  <a>EN</a></h6> -->
      </div>
  </div>
</header>

<section id=navbar>
        <div class="menu">
          <div class="rect-menu">

            <button id="container" onclick="changeMenu()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </button>

            <h4 id="menu-txt">
              <a href="{% url 'ucbusinesssite:about' %}">About us</a>
              <a href="{% url 'ucbusinesssite:ucValue' %}"> Value</a>
              <a href="{% url 'ucbusinesssite:ucInvest' %}"> Invest</a>
              <a href="{% url 'ucbusinesssite:ucPartnership' %}"> Partnership</a>
              <a href="{% url 'ucbusinesssite:insights' %}"> Insights</a>
              <a href="{% url 'ucbusinesssite:contacts' %}">Contacts</a>
            </h4>
        </div>
        </div>
  </section>

<section id="news">

    <h1>Insights</h1>

  <div class="news">
    <div class="new">
        <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/78866910_452866982085858_4685213590792175616_o.jpg?_nc_cat=105&_nc_ohc=uVszBGbFRGUAQm_x8cdtmILbiilcVRXhNUv0wz8BeeyldiUnwDlHyxwxw&_nc_ht=scontent.flis6-1.fna&oh=786f1d3dc0b097f66a549bc28743ea39&oe=5E94A183" />
        <h3> Official UC Business Launch </h3>
        <button  onclick="location.href='new.html'">   Read More </button>

        </div>
    <div class="new">
        <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/77347375_438339310205292_3756959235573809152_o.jpg?_nc_cat=106&_nc_ohc=SiFIT2NwzmsAQkyAuxXdycR6HxG1-xW_lNwBQRrf0EpJX2JocWC80K9rA&_nc_ht=scontent.flis6-1.fna&oh=733a0093f280437a6809cb2cb14ce64f&oe=5EAA8942" />
        <h3> University of Coimbra at the 1st Annual Meeting in Pharmaceutical Sciences </h3>
        <p> Nuno Mendonça, Ph.D., coordinator of the UC Business Special Project, was a guest...
        </p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://pbs.twimg.com/media/EJ0-cd_XYAAIN94.jpg:large" />
        <h3>University of Coimbra at the 3rd Edition of Connect Your Dots </h3>
        <p> This is a networking event that aims to be a forum for sharing ideas and innovative projects...</p>
        <button type="button">Read More</button>
    </div>
    <div class="new">
        <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/74454807_436862240352999_6755936578255716352_o.jpg?_nc_cat=106&_nc_ohc=pvq4NOvrzvMAQnHDE0c1eaZPaE2pzwewEC1EMihoQjkU1NIATqWvdpE9g&_nc_ht=scontent.flis6-1.fna&oh=3866d9eaa9b09e370138c65245a5c14d&oe=5E6AF08F" />
        <h3> The University of Coimbra at the Sustainable Brands Oceans's first event. </h3>
        <p> The Summit was around the theme of the ocean, the goals were to communicate how the brands could save the oceans...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQEJt9zC7DL7yw/feedshare-shrink_1280/0?e=1578528000&v=beta&t=1lb8Aw6oSSDaiX-OUFcfaAF7M68JNUuYUposy5iZd2s" />
        <h3>University of Coimbra at the launch of MetaRed Portugal  </h3>
        <p> This program is an initiative of Universia and Santander Universidades. The UC Business Special Project and the Information and Communication...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQG5OskoivYVbA/feedshare-shrink_2048_1536/0?e=1578528000&v=beta&t=LFp_T_4sW1TDE0V-IDpfvkgVdy-20N_X8nTQF6g24XQ" />
        <h3> The University of Coimbra receives the Hong Kong Science Technology Park </h3>
        <p> The visit promoted by Paula Kant and Fernando de la Cal Gonzales from Invest Hong Kong, brought to Coimbra ten Startups!</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/74607732_429164844456072_373633434305691648_o.jpg?_nc_cat=108&_nc_ohc=zFZ94QN-QF0AQnCUinRDfbLukgvZ_Um1ncfzg2hFfJnRjvpsqdwdv4krQ&_nc_ht=scontent.flis6-1.fna&oh=0e5b2f3b90ae21b5aa2ddba567910059&oe=5E68F324" />
        <h3> The University of Coimbra at United Nations Global Compact Conference </h3>
        <p> Apart from having a fabulous and inspiring speech from Lise Kingo, CEO and Executive Director of the United Nations Global Compact, giving us...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/75388424_428259154546641_144324116759969792_o.jpg?_nc_cat=104&_nc_ohc=I9Ab-SzWLG0AQmbJw_FfuN77BacMD9xeqXGaikEgm41Q10Q3L6T520wRQ&_nc_ht=scontent.flis6-1.fna&oh=83f83eaa37b032bdc1e00121e23d0971&oe=5EA876D0" />
        <h3> The University of Coimbra at the AEDDays 2019 </h3>
        <p> The University of Coimbra was present at the AEDDays 2019 with ESA BIC Portugal on the 28th and 29th of October, showing what best our...</p>
        <button type="button">Read More</button>
    </div>

    <div class="new">
        <img src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/72800697_410016319704258_3249129372010938368_o.jpg?_nc_cat=102&_nc_ohc=oaHT625HDdwAQluqD1FyAkFPCBU3spUV7p8xGTUR3r5ZNm_WFXIYQBpUQ&_nc_ht=scontent.flis6-1.fna&oh=aab1528c9c9872516d8c59a4041a09c5&oe=5E99D9D5" />
        <h3> Advanced Production & Monitoring for the Industry 4.0 </h3>
        <p> With a hundred registered participants, the meeting aimed essentially to "be a forum for dialogue between companies and scientists.</p>
        <button type="button">Read More</button>
    </div>



  </div>

</section>
<footer id="footer">
  <div class="footer-left">
    <div class="footer-social">
      <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id="facebook"
          src="{% static 'ucbusinesssite/photos/facebook.svg' %}" height="35" width="35" alt="facebook" /></a>
      <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img id="linkedin"
          src="{% static 'ucbusinesssite/photos/linkedin.svg' %}" height="35" width="35" alt="linkedin" /> </a>
      <a href=" https://twitter.com/business_uc" target="_blank"> <img id="twitter" src="{% static 'ucbusinesssite/photos/twitter.svg' %}"
          height="35" width="35" alt="twitter" /> </a>
    </div>
    <p>UC Business ® 2020</p>

  </div>
   <div class="footer-right">
    <img id="ucbranco" src="{% static 'ucbusinesssite/photos/uc_branco.png' %}" alt="uc_logo">
  </div>
</footer>

<script>

function changeMenu(){

if ($('#menu-txt').css('display') == 'none'){
  $('#menu-txt').css('display', 'block');
  $('.rect-menu').css('height', '100vh');
}
else{
  $('#menu-txt').css('display', 'none');
  $('.rect-menu').css('height', '8vh');
}
}
</script>
