{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/new.css' %}">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/colors.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'ucbusinesssite/photos/ucb_logo.ico' %}">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, height=device-height" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


    <title>Insight</title>
</head>
<body>
<header>
  <div class="header">
      <a href="{% url 'ucbusinesssite:index' %}"><img id="logo_ucb" src="{% static 'ucbusinesssite/photos/ucb_logo.png' %}" height="1441" width="1997" alt="logo_ucb"/></a>
      <div id="dir">
        <img id="logo_uc" src="{% static 'ucbusinesssite/photos/uc_logo_hor.png' %}" alt="logo_uc"/>
        <!-- <h6> <a>PT</a>  <a>EN</a></h6> -->
      </div>
  </div>
</header>

<section id=navbar>
        <div class="menu">

          <div class="rect-menu">
            <button id="container" onclick="changeMenu()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </button>

            <h4 id="menu-txt">
              {% if request.session.language == 'EN' %}
                <a href="{% url 'ucbusinesssite:about' %}">About us</a>
                <a href="{% url 'ucbusinesssite:ucValue' %}"> Value</a>
                <a href="{% url 'ucbusinesssite:ucInvest' %}"> Invest</a>
                <a href="{% url 'ucbusinesssite:ucPartnership' %}"> Partnership</a>
                <a href="{% url 'ucbusinesssite:insights' %}"> Insights</a>
                <a href="{% url 'ucbusinesssite:contacts' %}">Contacts</a>
              {% else %}
                <a href="{% url 'ucbusinesssite:about' %}">Sobre nós</a>
                <a href="{% url 'ucbusinesssite:ucValue' %}"> Valor</a>
                <a href="{% url 'ucbusinesssite:ucInvest' %}"> Investimento</a>
                <a href="{% url 'ucbusinesssite:ucPartnership' %}"> Parceria</a>
                <a href="{% url 'ucbusinesssite:insights' %}"> Insights</a>
                <a href="{% url 'ucbusinesssite:contacts' %}">Contactos</a>  
              {% endif %}
            </h4>
        </div>
        </div>
  </section>

<section id="news">


  <div class="slider">
    <button type="button" id="arrow-prev" class="slider-arrow slider-arrow-prev" > </button>
    <img id="carousel0"   src="{{ newsArticle.imageurl_set.first.url }}">
    <button type="button" id="arrow-next" class="slider-arrow slider-arrow-next" > </button>
  </div>
  {% if request.session.language == 'EN' %}
    <h3> {{ newsArticle.titleEn }} </h3>
    <p> {{ newsArticle.bodyEn }} </p>
  {% else %}
    <h3> {{ newsArticle.title }} </h3>
    <p>{{ newsArticle.body }}</p>
  {% endif %}
  <span> {{ newsArticle.datePosted }} </span>
  <a href="{% url 'ucbusinesssite:insights' %}">
    <h4> < Back </h4>
  </a>

</section>

<footer id="footer">
  <div class="footer-left">
    <div class="footer-social">
      <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id="facebook"
          src="{% static 'ucbusinesssite/photos/facebook.svg' %}" height="35" width="35" alt="facebook" /></a>
      <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img id="linkedin"
          src="{% static 'ucbusinesssite/photos/linkedin.svg' %}" height="35" width="35" alt="linkedin" /> </a>
      <a href=" https://twitter.com/business_uc" target="_blank"> <img id="twitter" src="{% static 'ucbusinesssite/photos/twitter.svg' %}"
          height="35" width="35" alt="twitter" /> </a>
    </div>
    <p>UC Business ® 2020</p>

  </div>
   <div class="footer-right">
    <img id="ucbranco" src="{% static 'ucbusinesssite/photos/uc_branco.png' %}" alt="uc_logo">
  </div>
</footer>


<script>

var imageSources= {{ newsImages|safe }}

var currentIndex = 0;

var leftArrow = document.querySelector("#arrow-prev");
var rightArrow = document.querySelector("#arrow-next");

leftArrow.addEventListener("click", function() {
	currentIndex = currentIndex - 1;
	if (currentIndex < 0) {
		currentIndex = imageSources.length-1;
	}
	document.querySelector(".slider img").setAttribute("src", imageSources[currentIndex]);
});


rightArrow.addEventListener("click", function() {
	currentIndex = currentIndex + 1;
	if (currentIndex >= imageSources.length) {
		currentIndex = 0;
	}
	document.querySelector(".slider img").setAttribute("src", imageSources[currentIndex]);
});

function changeMenu(){

if ($('#menu-txt').css('display') == 'none'){
  $('#menu-txt').css('display', 'block');
  $('.rect-menu').css('height', '100vh');
}
else{
  $('#menu-txt').css('display', 'none');
  $('.rect-menu').css('height', '8vh');
}
}
</script>
