<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/news.css">
    <link rel="stylesheet" href="assets/css/general.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>UC Business</title>
</head>
<body>
<header>
  <div class="header">
      <a href="index.html"><img id="logo_ucb" src="assets/photos/ucb_logo.png" height="1441" width="1997" alt="logo_ucb"/></a>
      <div id="dir">
        <img id="logo_uc" src="assets/photos/uc_logo_hor.png" alt="logo_uc"/>
        <!-- <h6> <a>PT</a>  <a>EN</a></h6> -->
      </div>
  </div>
</header>

<section id=navbar>
        <div class="menu">
            <div class="rect-menu">
            <h5>
                <a href="about_us.html"> About us</a>
                <a href="ucvalue.html">UC Value</a>
                <a href="ucinvest.html">UC Invest</a>
                <a href="ucpartnership.html">UC Partnership</a>
                <a href="news.html"> News</a>
                <a href= "#footer">Contacts</a>
            </h5>
            </div>
        </div>
  </section>

<section id="news">

    <h1>Past News and Events</h1>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C5622AQHDuHX7Q0dheQ/feedshare-shrink_1280/0?e=1578528000&v=beta&t=BGP0IceAR3ULvs39KuZowFF6YNSN5dlGZIrOSgCeM0E" />
        <p>Nuno Mendonça, Ph.D., coordinator of the UC Business Special Project, was a guest speaker at the 1st Annual Meeting in Pharmaceutical Sciences.
        <br>In the panel moderated by Jorge Pimenta (IPN), "Tech Transfer: Bridging the Gap Between Academy and Industry" Nuno spoke next to Bianca Silva (Bluepharma), Catarina Cardoso (Basi Laboratories), João José Sousa (Dendropharma), Maria Teixeira Cruz (Toxfinder) and Mafalda Paiva (Hovione).
          This event is the first national meeting of researchers, Ph.D. students, and PhDs in the area of Pharmaceutical Sciences, whose main goal was to foster the sharing of ideas and elite research working in Portugal!
          Helena Bigares Grangeia, Ph.D. student and ambassador of Académica Start UC was part of the organisation.</p>
    </div>
    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQG5OskoivYVbA/feedshare-shrink_2048_1536/0?e=1578528000&v=beta&t=LFp_T_4sW1TDE0V-IDpfvkgVdy-20N_X8nTQF6g24XQ" />

        <p>The University of Coimbra received the HKSTP - Hong Kong Science and Technology Parks Corporation, led by Francis Pun, International Development Lead, Acceleration Programmes at HKSTP.
          The visit promoted by Paula Kant and Fernando de la Cal González from Invest Hong Kong brought to Coimbra ten Startups:
          <br>1. Asa innovation & Technology Ltd
          <br>2. Avaron Technologies Ltd
          <br>3. ReHealthier @BACHcode
          <br>4. beNovelty - Open Innovation with Open Web & API Technologies
          <br>5. Datax Limited
          <br>6. Light Up Technology Group Ltd
          <br>7. Racefit International Company Ltc
          <br>8. Red Bird Technology Ltd
          <br>9. Return Helper
          <br>10. BeeFintech Company Ltd
          We first started with a presentation at the Instituto Pedro Nunes, followed by a visit to the Joanina Library. Last but not least, the Vice-Rector Professor Luís Simões da Silva presented the University of Coimbra and the UC Business Special Project.</p>
    </div>

    <div class="new">
        <img src="https://media.licdn.com/dms/image/C4D22AQEJt9zC7DL7yw/feedshare-shrink_1280/0?e=1578528000&v=beta&t=1lb8Aw6oSSDaiX-OUFcfaAF7M68JNUuYUposy5iZd2s" />

        <p>Yesterday, the University of Coimbra was at the launch of MetaRed Portugal, a collaborative network group of Portuguese Higher Education Institutions, to foster digital transformation.
          This program is an initiative of Universia and Santander Universidades. The UC Business Special Project and the Information and Communication Infrastructure Systems and Management Service
          participated in some sessions to make sure the University is represented at its best at this Network.</p>
    </div>
</section>

<footer id="footer">
  <div class="footer-left">
    <h1>Let's stay in contact!</h1>

      <h5> Rectory Pólo II
      <br> R. Luís Reis dos Santos 290,
      <br>3030-790 Coimbra</h5>
      <h5><p> ucbusiness@uc.pt </p> </h5>

  <div class="footer-social">
    <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id= "facebook" src="assets/photos/facebook.svg" height="35" width="35"alt="facebook"/></a>
    <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img  id="linkedin" src="assets/photos/linkedin.svg"height="35" width="35" alt="linkedin"/> </a>
    <a href=" https://twitter.com/business_uc" target="_blank"> <img  id="twitter" src="assets/photos/twitter.svg"height="35" width="35" alt="twitter"/> </a>
  </div>
  </div>
  <div class="footer-right">
    <img id="ucbranco" src="assets/photos/uc_branco.png" alt="uc_logo">
  </div>
</footer>
