{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ucbusinesssite/css/news.css' %}">
    <title>UC Business</title>
</head>
<body>
<header>
    <div class="header">
        <a href="{% url 'ucBusinessSite:landingPage' %}"><img id="logo_ucb" src="{% static 'ucbusinesssite/photos/ucb_logo.png' %}" height="1441" width="1997" alt="logo_ucb"/></a>
        <img id="logo_uc" src="{% static 'ucbusinesssite/photos/uc_logo.png' %}" alt="logo_uc"/>
        <h6> <a href="#">PT</a>  <a href="#">EN</a></h6>
    </div>
</header>

<div class="menu">
    <h5>
        <a href="{% url 'ucBusinessSite:aboutPage' %}"> About us</a>
        <a>UC Value</a> <img src="{% static 'ucbusinesssite/photos/arrow.png' %}" height="8" width="14"/>
        <a>UC Invest</a> <img src="{% static 'ucbusinesssite/photos/arrow.png' %}" height="8" width="14"/>
        <a>UC Partnership</a> <img src="{% static 'ucbusinesssite/photos/arrow.png' %}" height="8" width="14"/>
        <a href="{% url 'ucBusinessSite:newsPage' %}"> News</a>
        <a href="#">Contacts</a>
    </h5>
</div>

<section id="news">

    <h1>Past News and Events</h1>

    <div class="new1">
        <img src="{% static 'ucbusinesssite/photos/foto.png' %}" />
        <h2>New1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Mi sit amet mauris commodo. Bibendum neque egestas congue quisque egestas diam in arcu. Cras adipiscing enim eu turpis egestas pretium. Faucibus pulvinar elementum integer enim neque. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada. At quis risus sed vulputate odio. Viverra tellus in hac habitasse platea. Quis lectus nulla at volutpat diam ut. Consequat nisl vel pretium lectus quam id. Erat pellentesque adipiscing commodo elit at imperdiet dui.
            Mi sit amet mauris commodo. Bibendum neque egestas congue quisque egestas diam in arcu. Cras adipiscing enim eu turpis egestas pretium. Faucibus pulvinar elementum integer enim neque. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada. At quis risus sed vulputate odio. Viverra tellus in hac habitasse platea. Quis lectus nulla at volutpat diam ut. Consequat nisl vel pretium lectus quam id. Erat pellentesque adipiscing commodo elit at imperdiet dui.</p>
    </div>
    <div class="new2">
        <img src="{% static 'ucbusinesssite/photos/foto.png' %}" />
        <h2>New2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Mi sit amet mauris commodo. Bibendum neque egestas congue quisque egestas diam in arcu. Cras adipiscing enim eu turpis egestas pretium. Faucibus pulvinar elementum integer enim neque. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada. At quis risus sed vulputate odio. Viverra tellus in hac habitasse platea. Quis lectus nulla at volutpat diam ut. Consequat nisl vel pretium lectus quam id. Erat pellentesque adipiscing commodo elit at imperdiet dui.
            Mi sit amet mauris commodo. Bibendum neque egestas congue quisque egestas diam in arcu. Cras adipiscing enim eu turpis egestas pretium. Faucibus pulvinar elementum integer enim neque. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada. At quis risus sed vulputate odio. Viverra tellus in hac habitasse platea. Quis lectus nulla at volutpat diam ut. Consequat nisl vel pretium lectus quam id. Erat pellentesque adipiscing commodo elit at imperdiet dui.</p>
    </div>
</section>
