<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/ucinvest.css">
    <link rel="stylesheet" href="assets/css/general.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>UC Business</title>
</head>
<body>
<header>
    <div class="header">
        <img href="index.html" id="logo_ucb" src="assets/photos/ucb_logo.png" height="1441" width="1997" alt="logo_ucb"/>
        <img id="logo_uc" src="assets/photos/uc_logo_hor.png" alt="logo_uc"/>
        <h6> <a>PT</a>  <a>EN</a></h6>
    </div>
</header>

        <div class="menu">
            <h5>
                <a href="about_us.html"> About us</a>
                <a href="ucvalue.html">UC Value</a>
                <a href="ucinvest.html">UC Invest</a>
                <a href="ucpartnership.html">UC Partnership</a>
                <a href="news.html"> News</a>
                <a>Contacts</a>
            </h5>
        </div>

    <section id="info">

      <div class="promoting">
        <div onclick="clickPromoting()" id="circ-promoting">
          </div>
          <h5> Promoting contact with companies </h5>
          <p id="txt1">
            Arrange visits to the University for Entrepreneurs, according to the area of intervention, aiming to reduce the gap between companies and researchers, and strengthening mutual trust;
            <br>Strengthen the ability of researchers to provide business services by identifying the needs of these companies;
            <img src="assets/photos/siemens-ph.JPG" >
          </p>

      </div>

      <div  class="employ">
        <div onclick="clickEmploy()" id="circ-employ">
          </div>
          <h5> Employability </h5>
          <ul id="txt2">
            Help students from different academic levels enter the labor market:
            <li>Articulate the professional needs of companies with the available training;</li>
            <li>Promotion of doctoral rotation program in companies, aiming at an active search for partnerships between research centers and the national/international business market;</li>
            <li>Contribute to strengthening the structuring of competence centers to be developed at the University of Coimbra.</li>
            <p><b>Fit4Work</b></p>
            <li>Partnerships with major national and international companies.</li>
            <li>Association with the most important internship and trainee programs;</li>
            <li>Collaboration in the identification of professional opportunities.</li>
            <li>Personalized Consulting to UC students;</li>
            <li>Continuous Training;</li>
            <li>Career support tools;</li>
          </ul>

      </div>

      <div class="entrep">
        <div onclick="clickEntrep()" id="circ-entrep">
            </div>
          <h5> Entrepeneurship </h5>
          <ul id="txt3">
            Encouragement of Entrepreneurship among the Univerisity:
            <li>To strengthen entrepreneurship skills at different academic levels, graduates or non-graduates;</li>
            <li>To strengthen the incentive to entrepreneurship through competitions according to the Arrisca C model;</li>
            <li>To structure national and international entrepreneurial projects with the aim of enhancing the image of the University of Coimbra regarding its target audience (High School, International Higher Education, ...).</li>

          </ul>


      </div>

      <div class="nonprofit">
        <div onclick="clickNonProfit()" id="circ-nonprofit">
          </div>
          <h5> Nonprofit Private Associations </h5>
          <p id="txt4">
            Articulation and support to the nonprofit private Associations
          </p>

      </div>

      <div class="customer">
        <div onclick="clickCustomer()" id="circ-customer">
            </div>
            <h5> Customer Centered </h5>
            <p id="txt5">
              Customer centered policy, working actively in Companies.

            </p>

      </div>
    </section>

    <footer>
      <div class="footer-middle">
        <h1>Let´s stay in contact!</h1>
      </div>

      <div class="footer-contacts">
          <h5> Rectory Pólo II
          <br> R. Luís Reis dos Santos 290,
          <br>3030-790 Coimbra</h5>
          <h5><p> ucbusiness@uc.pt </p> </h5>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id= "facebook" src="assets/photos/facebook.svg" height="35" width="35"alt="facebook"/></a>
        <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img  id="linkedin" src="assets/photos/linkedin.svg"height="35" width="35" alt="linkedin"/> </a>
        <a href=" https://twitter.com/business_uc" target="_blank"> <img  id="twitter" src="assets/photos/twitter.svg"height="35" width="35" alt="twitter"/> </a>
      </div>
    </footer>
</body>
</html>

<script>

function clickPromoting() {
  var moreText = document.getElementById("txt1");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }

}

function clickEmploy() {
  var moreText = document.getElementById("txt2");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }
}

function clickEntrep() {
  var moreText = document.getElementById("txt3");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }

}
function clickNonProfit() {
  var moreText = document.getElementById("txt4");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }

}
function clickCustomer() {
  var moreText = document.getElementById("txt5");

  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";

  }

}
</script>
