<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/ucvalue.css">
    <link rel="stylesheet" href="assets/css/general.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <link rel="icon" type="image/x-icon" href="assets/photos/ucb_logo.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>UC Business</title>
</head>
<body>
<header>
  <div class="header">
      <a href="index.html"><img id="logo_ucb" src="assets/photos/ucb_logo.png" height="1441" width="1997" alt="logo_ucb"/></a>
      <div id="dir">
        <img id="logo_uc" src="assets/photos/uc_logo_hor.png" alt="logo_uc"/>
        <!-- <h6> <a>PT</a>  <a>EN</a></h6> -->
    </div>
  </div>
</header>

<section id="navbar">
        <div class="menu">
          <div class="rect-menu">

            <button id="container" onclick="changeMenu()">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </button>

            <h4 id="menu-txt">
              <a href="about_us.html">About us</a>
              <a href="ucvalue.html"> Value</a>
              <a href="ucinvest.html"> Invest</a>
              <a href="ucpartnership.html"> Partnership</a>
              <a href="insight.html"> Insight</a>
              <a href="contacts.html">Contacts</a>
            </h4>
        </div>
        </div>
  </section>

  <section id="info">

      <h1 id="value-title">Value</h1>

      <div class="services">
        <div class="button-subtitle">
          <button onclick="clickSpecial()" id="circ-services"></button>
          <h2 id="subtitle"> Specialized Services </h2>
          </div>
          <div id="txt1">
              <p>Collaborations, partnerships, networks, with the community at a regional,
               national and international level, and with contributors from economic, social and cultural sectors,
               contributing for the dissemination and application of knowledge and thus for development and general well-being.
             </p>
               <div class="services-grid">
                <div class="item item1" ><img src="assets/photos/specialized/altice.png" alt="altice"></div>
                <div class="item item2"><img src="assets/photos/specialized/arcelor.png" alt="arcelor"></div>
                <div class="item item3"><img src="assets/photos/specialized/bluepharma.png" alt="bluepharma"></div>
                <div class="item item4"><img src="assets/photos/specialized/cern.png" alt="cern"></div>
                <div class="item item5"><img src="assets/photos/specialized/delta.png" alt="delta"></div>
                <div class="item item6"><img src="assets/photos/specialized/edp.png" alt="edp"></div>
                <div class="item item7" ><img src="assets/photos/specialized/ergicon.png" alt="2ergicon"></div>
                <div class="item item8"><img src="assets/photos/specialized/essilor.png" alt="essilor"></div>
                <div class="item item9"><img src="assets/photos/specialized/feliz.png" alt="ofeliz"></div>
                <div class="item item10"><img src="assets/photos/specialized/ferpinta.JPG" alt="ferpinta"></div>
                <div class="item item11"><img src="assets/photos/specialized/martifer.png" alt="martifer"></div>
                <div class="item item12"><img src="assets/photos/specialized/meo.png" alt="meo"></div>
                <div class="item item13"><img src="assets/photos/specialized/navigator.png" alt="navigator"></div>
                <div class="item item14" ><img src="assets/photos/specialized/ogma.png" alt="ogma"></div>
                <div class="item item15"><img src="assets/photos/specialized/siemens.png" alt="siemens"></div>
                <div class="item item16"><img src="assets/photos/specialized/sumol.png" alt="sumol"></div>
                <div class="item item17"><img src="assets/photos/specialized/tata.png" alt="tata"></div>
                <div class="item item18"><img src="assets/photos/specialized/teixeira.png" alt="teixeira"></div>
                <div class="item item19"><img src="assets/photos/specialized/vesam.png" alt="vesam"></div>

              </div>
          </div>
        </div>

      <div  class="tech">
        <div class="button-subtitle">
          <button onclick="clickTech()" id="circ-tech"></button>
          <h2 id="subtitle"> Technological Platforms </h2>
          </div>
          <div id="txt2">
            <p>
            <ul>
            <li>Nuclear Magnetic Resonance Laboratory (NMRL)</li>
            <li>Coimbra Laser Laboratory (CLL)</li>
            <li>Infrastructure for Research in Celular and Molecular Systems (IRCMS)</li>
            <li>Coimbra Cryogenic Facility (CCF)</li>
            <li>Coimbra Trace Analysis and Imaging Laboratory (TAIL)</li>
            <li>Biomed III</li>
            <li>UCGenomics</li>
            <li>Brain Imaging Network - BIN</li>
          </ul>
        </p>
        </div>
      </div>

      <div class="intelectual">
        <div class="button-subtitle">
          <button onclick="clickIntelectual()" id="circ-intelec"></button>
          <h2 id="subtitle"> Intelectual Property Management </h2>
        </div>
          <div id="txt3">
            <img src="assets/photos/chart.png">

            <div class="numbers-anim">
              <div class="number" data-number= "81">
                <h2 id="numbers">81</h2>
                  <h4>International</h4>
              </div>

              <div class="number" data-number= "19">
                <h2 id="numbers">19</h2>
                  <h4>National</h4>
              </div>

              <div class="number" data-number= "82">
                <h2 id="numbers">82</h2>
                  <h4>Accepted</h4>
              </div>

              <div class="number" data-number= "7">
                <h2 id="numbers">7</h2>
                  <h4>In Negotiation</h4>
              </div>
            </div>
          </div>
      </div>

      <div class="projects">
        <div class="button-subtitle">
          <button onclick="clickProjects()" id="circ-projects"></button>
          <h2 id="subtitle"> Projects with Companies </h2>
        </div>
          <div id="txt4">
            <p>
            Strengthening the encouragement of projects with companies in national and international partnerships:
            <br>Organisation of projects by building consortia;
            <br>Identification of funding programs, side-by-side with the Research Support Office and their fit to research and innovation proposals.
          </p>
          </div>
      </div>

      <div class="application">
        <div class="button-subtitle">
          <button onclick="clickApp()" id="circ-app"></button>
            <h2 id="subtitle"> Application Development </h2>
        </div>
        <div id=txt5>
        <p>
            <ul>
              Application elaboration service with companies, side-by-side with the Research Support Office:
              <li>Maximize the results of application processes with companies for competitive financing programs, involving expert consultants;</li>
              <li>Teams training using technical training for funding programs for the next framework program.</li>
            </ul>
          </p>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer-left">
        <h1>Let's stay in contact!</h1>

          <h5> Rectory Pólo II
          <br> R. Luís Reis dos Santos 290,
          <br>3030-790 Coimbra</h5>
          <h5><p> ucbusiness@uc.pt </p> </h5>

      <div class="footer-social">
        <a href="https://www.facebook.com/UCBusinessGlobal/" target="_blank"> <img id= "facebook" src="assets/photos/facebook.svg" height="35" width="35"alt="facebook"/></a>
        <a href="https://linkedin.com/company/ucbusinessglobal" target="_blank"><img  id="linkedin" src="assets/photos/linkedin.svg"height="35" width="35" alt="linkedin"/> </a>
        <a href=" https://twitter.com/business_uc" target="_blank"> <img  id="twitter" src="assets/photos/twitter.svg"height="35" width="35" alt="twitter"/> </a>
      </div>
      </div>
      <div class="footer-right">
        <img id="ucbranco" src="assets/photos/uc_branco.png" alt="uc_logo">
      </div>
    </footer>
</body>
</html>
<script>

function clickSpecial() {
  var moreText = document.getElementById("txt1");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }
}

function clickTech() {
  var moreText = document.getElementById("txt2");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }
}

function clickIntelectual() {
  var moreText = document.getElementById("txt3");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }
  $('#number1').jQueryCounter({end: 81,duration: 2000});
  $('#number2').jQueryCounter({end: 19,duration: 2000});
  $('#number3').jQueryCounter({end: 82,duration: 2000});
  $('#number4').jQueryCounter({end: 7,duration: 2000});
}
function clickProjects() {
  var moreText = document.getElementById("txt4");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }

}
function clickApp() {
  var moreText = document.getElementById("txt5");
  if (moreText.style.display === "none") {
    moreText.style.display = "block";
    }
  else {
    moreText.style.display = "none";
  }

}
// numbers counter animation

	$.fn.jQueryCounter = function( options ) {
	    var settings = $.extend({
	        start:  0,
	        end:    100,
	        easing: 'swing',
	        duration: 400,
	        complete: ''
	    }, options );

	    var thisElement = $(this);

	    $({count: settings.start}).animate({count: settings.end}, {
			duration: settings.duration,
			easing: settings.easing,
			step: function() {
				var mathCount = Math.ceil(this.count);
				thisElement.text(mathCount+"%");
			},
			complete: settings.complete
		});
	};

  //responsive menu

  function changeMenu(){

  if ($('#menu-txt').css('display') == 'none'){
    $('#menu-txt').css('display', 'block');
    $('.rect-menu').css('height', '100vh');
  }
  else{
    $('#menu-txt').css('display', 'none');
    $('.rect-menu').css('height', '8vh');
  }
  }


</script>
