.about{
  margin: 15vh 0 2vh 5vw;
}
.about h1 {
    font-size: 2.5em;
}
.about p{
  width:85vw;
  justify-content: space-around;
  font-size: 1.2em;
}


#team {
  margin: auto;

}

.member1{
  display: flex;
  padding-bottom: 15vh;
  padding-top: 8vh;
  margin-left: 11%;
}
.member1-info{
  margin-left: 4vw;
}

.member-info{
  text-align: left;
  color:black;
  padding-top: 2vh;

}
.member-info h4{
  font-weight: bold;
}

.member img, .member1 img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#team-grid{
  margin:auto;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 10vh;
  margin-bottom: 5vh;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 900px){

  .member-info{
    font-size: 0.8em;
  }

  .member img, .member1 img{
    width: 180px;
    height: 180px;
    object-fit: cover;
  }


  @media screen and (max-width: 700px){

    #team-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5vw;
        grid-row-gap: 3vh;
      }


}

@media screen and (max-width: 420px){

  .member1 img, .member img{
    width: 90px;
    height: 90px;
  }

  .member1{
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 8vh;
  }
  #team-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 8vw;
      grid-row-gap: 3vh;

    }
  .about h1{
    font-size: 1.3em;
    padding-left: 0;
  }
  .about p  {
    font-size: 0.9em;
  }
  .member-info p, .member-info h4{
    font-size: 1em;
  }
  .about{
    margin: 15vh 0 2vh 9vw;
  }
  .member1-info, .member-info{
    line-height: 1vh;
  }

}
