.about h1 {
    padding: 15vh 0 2vh 5vw;
    font-size: 2.5em;
}

#team {
  margin: auto;

}

.member1{
  display: flex;
  padding-bottom: 15vh;
  padding-top: 8vh;
  margin-left: 11%;
}
.member1-info{
  margin-left: 4vw;
}

.member-info{
  text-align: left;
  color:black;
  padding-top: 2vh;

}
.member-info h4{
  font-weight: bold;
}

.member img, .member1 img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#team-grid{
  margin-left: 11%;
  width: 100vw;
  display: grid;
  grid-gap: 5%;
  grid-template-columns:  25vw 25vw 25vw ;
  grid-template-rows: 60vh 60vh 60vh 60vh;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 900px){

  .member-info{
    font-size: 0.8em;
  }
  .member img{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  #team-grid{
    display: grid;
    grid-template-columns: 50vw 50vw ;
    grid-template-rows: 40vh 40vh 40vh 40vh;
  }

}

@media screen and (max-width: 420px){

  .member1 img, .member img{
    width: 90px;
    height: 90px;
  }

  .member1{
    align-items: center;
    padding-top: 0;
  }
  #team-grid{
    display: grid;
    grid-template-columns: 44vw 44vw ;
    grid-template-rows: 40vh 40vh 40vh 40vh;
  }
  .about h1{
    font-size: 1.2em;
    margin-left: 8vw;
    padding-left: 0;
  }

}
