
#contacts{
  padding: 15vh 0 10vh 5vw;
}

#form{
  margin: 30vh 0 10vh 25vw;
  border-radius: 5%;
  padding: 20px 30px;
}

#contacts h1{
  padding-bottom: 5vh;
  font-size: 2em;
}
.container{
  display: flex;
}
#name, #mail, #text{
  width:210px;
}
#text{
  height:150px;
}
#submit-button{
  background: var(--color-blue);
  color: white;
  border:none;
  padding: 2vh 0;
  display: block;
  margin-top: 2vh;
  width: 15vw;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px) {

  #contacts h1{
    font-size:1.5em
  }
  .container{
    display: block;
  }
  #form, #contacts{
    margin-left:0;
    margin-top: 0;
    padding-bottom: 0;
  }
  #form{
    padding-left: 5vw;
    padding-top: 5vh;
  }
  .form-title{
    font-size: 1.1em;
    padding-bottom: 2vh;
  }

}
