
.container{
  padding: 15vh 0 10vh 5vw;
  display: flex;
  justify-content: space-between;
}

#form{
  padding-right: 20vw;
}
#contacts h1{
  padding-bottom: 5vh;
  font-size: 2em;
}

#name, #mail, #text{
  width:210px;
}
#text{
  height:150px;
}
#submit-button{
  background: var(--color-blue);
  color: white;
  border:none;
  padding: 2vh 0;
  display: block;
  margin-top: 2vh;
  width: 15vw;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 420px) {


  .container{
    display: block;
  }


  #contacts h1{
    font-size:1.5em
  }

  #form{
  padding-top: 5vh;
  }

  .form-title{
    font-size: 1.1em;
    padding-bottom: 2vh;
  }

}
