
.container{
  padding: 15vh 0 10vh 5vw;
  display: flex;
  justify-content: space-between;
}

#form{
  padding-right: 20vw;
  width:20vw;
}
input{
  width: 100%;
}
textarea{
  min-width: 100%;
  height: 20vh;
}
#contacts h1{
  padding-bottom: 5vh;
  font-size: 2em;
}


#submit-button{
  background: var(--color-blue);
  color: white;
  border:none;
  display: block;
  margin-top: 2vh;
  height: 6vh;
  width: 100%;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 420px) {


  .container{
    display: block;
  }


  #contacts h1{
    font-size:1.5em
  }

  #form{
  padding-top: 5vh;
  }

  .form-title{
    font-size: 1.1em;
    padding-bottom: 2vh;
  }

}
