
#news{
  padding: 15vh 0 10vh 5vw;
}
#news h1{
  font-size: 2em;
}

#news img {
    width: 20vw;
    height: 25vh;
    object-fit: cover;
}
#news p, #news h3{
  width: 20vw;
}
.new{
  display: flex;
  flex-direction: column;
}

.new button{
  background-color: var(--color-blue);
  color: white;
  padding: 1vh 1vw;
  border: none;
  margin-top:auto;
  align-self: end;
}
#news-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 10vh;

}
/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px) {
  .news{
    display: grid;
    grid-template-columns: 1fr   ;
    grid-template-rows: 1fr ;
    grid-gap: 50px;
  }
  #news img {
      width: 50vw;
      height: 20vh;
  }
  #news h3 , #news p{
    font-size: 0.8em;
    width: 80vw;
  }


  }
