
#news{
  padding: 15vh 0 10vh 5vw;
}
#news h1{
  font-size: 2em;
}

#news img {
    width: 20vw;
    height: 25vh;
    object-fit: cover;
}
#news p, #news h3{
  width: 20vw;
}
 #news p {
  height:8vh;
}
#news h2, #news h3 {
  font-size: 1.6em;
}
.new{
  display: flex;
  flex-direction: column;
}

.new button{
  background-color: var(--color-blue);
  color: white;
  padding: 1vh 1vw;
  border: none;
  margin-top:auto;
  align-self: end;
  cursor: pointer;
}
#news-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 10vh;

}
/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 420px) {

  #news-container{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 2vw;
    grid-row-gap: 10vh;

  }
  #news img {
      width: 40vw;
      height: 20vh;
  }
  #news h3 , #news p{
    font-size: 0.8em;
    width: 80vw;
  }
   #news button{
     font-size: 0.9em;
   }
  #news p, #news h3{
    width: 40vw;
  }
  #news p{
    height: 12vh;
  }




  }
