
#new{
  margin: 10vh 10vw;
  align-items: center;
  width:80vw;
}

#news h1{
  font-size: 2em;
}

#capa{
    object-fit: cover;
    height:50vh;
    width: 100%;
    padding-top: 8vh;
}
#new span{
  font-size: 0.8em;
}

#big_image{
  object-fit: cover;
  height: 80vh;
  width: 100%;
}

.column {
  float: left;
  width: 25%;
  padding: 2vh 0;
}
.column img, .column video{
  height: 20vh;
  object-fit: cover;
  width:100%;
  cursor: pointer;
}
#watch-video{
  background: var(--color-blue);
  color: white;
  border:none;
  padding: 1vh 1vw;

}





/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px) {

#new{
  margin: 5vh 10vw;
}
  #capa{
      display: none;
  }
  #big_image {
    object-fit: cover;
    height: 22vh;
    width: 100%;
  }
  .column img{
    height: 5vh;
    object-fit: cover;
    width:100%;
    cursor: pointer;
  }


}
