
#new{
  margin: 10vh 10vw;
  align-items: center;
  width:80vw;
}

#news h1{
  font-size: 2em;
}

#capa{
    object-fit: cover;
    height:50vh;
    width: 100%;
    padding-top: 8vh;
}
#new span{
  font-size: 0.8em;
}

#expandedImg{
  width:80vw;
  height: 70vh;
  object-fit: cover;
  padding: 2% 0;
}
.row{
  display: flex;
  justify-content: space-between;
  width:80vw;
  padding-bottom: 5vh;
}

.column img{
height:20vh;
width: 18vw;
object-fit: cover;
}






/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px) {

  #news img {
      width: 60vw;
      height: 20vh;
  }

}
