  #video-ucb{
    object-fit: cover;
    height:85vh;
    width: 100%;
    padding-top: 8vh;
  }

  #ucb-logo{
    height:auto;
    width: 40vw;;
  }

  .txt-ucb{
    font-size: 1.4em;
    width: 40vw;
    text-align: center;
  }

  #info-ucb{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:10% 5%;
  }
  .info-ucb {
    text-align: center;
    justify-content: center;
  }

  #news{
    padding: 15vh 0 10vh 5vw;
  }
  #news h1{
    font-size: 2em;
    padding-bottom: 4vh;
  }

  .new img {
      width: 22vw;
      height: 20vh;
      object-fit: cover;
  }
  .new p, .new h3{
    width: 20vw;
  }
  .new p{
    height:8vh;
  }
  .new{
    display: flex;
    flex-direction: column;
  }

  .new button{
    background-color: var(--color-blue);
    color: white;
    padding: 1vh 1vw;
    border: none;
    margin-top:auto;
    align-self: end;
    cursor: pointer;
  }
  #news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5vw;


  }


  /* ------------------------------------------ Media Queries ------------------------------------------ */

  @media screen and (max-width: 800px)  {
    #news, #logo-anim{
      margin-bottom: 20%;
      padding-bottom: 0;
    }
    #info-ucb, #info-pilares{
      margin:12vh 0;
    } 
    .txt-ucb{
    font-size: 1.1em;
      width: 50vw;
    }

  .footer-right{
    padding-top: 0vh;
  }

  }

  @media screen and (max-width: 420px)  {


    #news-container{
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-column-gap: 2vw;
      grid-row-gap: 10vh;


    }
    #news img {
        width: 40vw;
        height: 20vh;
    }
    #news h3 , #news p{
      font-size: 0.8em;
      width: 80vw;
    }
     #news button{
       font-size: 0.9em;
     }
    #news p, #news h3{
      width: 40vw;
    }
    #news p{
      height: 12vh;
    }


  #logo-anim{
    padding: auto;
  }

    #info-ucb{
      display: block;
      margin: auto;
    width: 80%;

    }
    #info-ucb video{
      width: 80vw;
    }
    .txt-ucb{
      margin:auto;

    }

    .txt-but{
      height: 20vh;
    }

    .txt-but h4{
      font-size: 0.8em;
      width: 60vw;
      height:5vh;
    }

    .info button{
      height:4vh;
      width:18vw;
      margin-left: 20vw;
      margin-top: 2vh;
      cursor: pointer;
    }

    #news-container h1{
      font-size: 1.4em;
    }

    .news-index img{
      height: 30vh;
    }
    .rect-new button{
      margin: 1% ;
    }



  }
