.about h1 {
    padding: 15vh 0 2vh 5vw;
}

#mission {
    padding: 0 7%;
    text-align: justify;
    line-height: 1.5;
}

.team {
    margin-left: 8vw;
}

.member1{
  display: flex;
  padding-bottom: 15vh;
  padding-top: 8vh;
}

.member-info{
  text-align: left;
  color:black;
  padding-top: 2vh;

}
.member-info h4{
  font-weight: bold;
}

.member img, .member1 img{
    border-radius: 100%;
    width: 40vh;
    height: auto;
}

#team-grid{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw ;
  grid-template-rows: 70vh 70vh 70vh;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 900px){

  .member-info{
    font-size: 0.8em;
  }
  .member img{
      width: 20vh;
      height: auto;
  }

  #team-grid{
    display: grid;
    grid-template-columns: 50vw 50vw ;
    grid-template-rows: 40vh 40vh 40vh 40vh;
  }

}

@media screen and (max-width: 400px){

  .member img{
      width: 20vw;
      height: auto;
  }
  .member1 img{
    width: 25vw;
    height: 15vh;
    padding-right: 5vw;
  }
  .member1{
    width: 70vw;
    align-items: center;
    padding-top: 0;
  }
  #team-grid{
    display: grid;
    grid-template-columns: 45vw 45vw ;
    grid-template-rows: 35vh 35vh 35vh 35vh;
  }
}
