.about h1 {
    padding: 15vh 0 2vh 5vw;
}

#mission {
    padding: 0 7%;
    text-align: justify;
    line-height: 1.5;
}

.team {
    padding: 0 10vw 0 5vw;
}

.team1,
.team2,
.team3,
.team4,
.team5,
.team6 {
    display: flex;
}

.member1,
.member2,
.member3,
.member4,
.member5,
.member6,
.member7,
.member8,
.member9,
.member10,
.member11,
.member12,
.member13 {
    padding-top: 5px;
    display: flex;
    padding-right: 5px;
}

.member1 img,
.member2 img,
.member3 img,
.member4 img,
.member5 img,
.member6 img,
.member7 img,
.member8 img,
.member9 img,
.member10 img,
.member11 img,
.member12 img,
.member13 img {
    width: 40vh;
    height: auto;
}


.rect_team {
    width: 40vh;
    height: auto;
    background-color: var(--color-blue);
    flex-direction: row;
    justify-content: center;
    color: white;
    text-align: center;
}

.team {
    padding: 0 5% 5% 5%;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 900px){
  .member1 img,
  .member2 img,
  .member3 img,
  .member4 img,
  .member5 img,
  .member6 img,
  .member7 img,
  .member8 img,
  .member9 img,
  .member10 img,
  .member11 img,
  .member12 img,
  .member13 img {
    height: 30vh;
    width: auto;
  }
  .rect_team{
    height: 30vh;
    width: 20vw;
    font-size: 0.5em;
  }
  .about{
    font-size: 0.9em;
  }

}
@media screen and (max-width: 500px){
  .member1 img,
  .member2 img,
  .member3 img,
  .member4 img,
  .member5 img,
  .member6 img,
  .member7 img,
  .member8 img,
  .member9 img,
  .member10 img,
  .member11 img,
  .member12 img,
  .member13 img {
    height: 20vh;
    width: auto;
  }
  .rect_team{
    height: 20vh;
    width: 10vw;
    font-size: 0.3em;
  }


}
