
.about h1{
    padding: 10% 0 2% 5%;
}
.about p{
    padding-left: 7% ;
    padding-right: 7%;
    text-align: justify;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.team1, .team2, .team3, .team4, .team5, .team6{
    display: flex;
}
.member1, .member2, .member3, .member4, .member5, .member6, .member7, .member8,.member9,.member10,.member11,.member12,.member13{
    padding-top: 5px;
    display: flex;
    padding-right: 5px;
}
.member1 img , .member2 img ,.member3 img ,.member4 img, .member5 img , .member6 img, .member7 img, .member8 img,.member9 img,.member10 img,.member11 img,.member12 img,.member13 img {
    width: 211px;
    height: 278px;
}
.rect_team img{
    width: 211px;
    height: 278px;
}

.rect_team{
    width: 277px;
    height: 278px;
    background-color: var(--color-blue);
    flex-direction: row;
    justify-content: center;
}
.rect_team h4 ,h5 {
    color: white;
    text-align: center;
 }
.team{
  padding-left: 5%;
  padding-bottom: 5%;
}
