
#contacts{
  padding: 15vh 0 10vh 5vw;
}
#contacts h1{
  padding-bottom: 5vh;
  font-size: 2em;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px) {

#contacts h1{
  font-size:1.5em
}

}
