@font-face {
  font-family: Nexa-light;
  src: url('../fonts/Nexa-Light.otf');
}

@font-face {
  font-family: Nexa-bold;
  src: url('../fonts/Nexa-Bold.otf');
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Nexa-bold;
}

h4,
h5,
h6,span {
  font-family: Nexa-light;
}
p, span, ul, li, a, button{
  font-family: Nexa-light;
}

li {
  list-style: square;
}


.header {
  padding: 0 3vw;
  margin: 0;
}

#dir {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo_ucb {
  height: 5vh;
  width: auto;
}

#logo_uc {
  height: 8vh;
  width: auto;
}


.header h6 {
  float: right;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: relative;
}

.rect-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: var(--color-blue);
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.menu h4 {
  display: flex;
  z-index: 5;
  padding-left: 3%;
}
.menu h4 a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding-right: 4vw;
  white-space: nowrap;
}

.menu h4 a:hover {
  color:var(--color-lightblue)

}
#container{
  display: none;
}
.cookiebanner-message{
  width: 28vw;
  padding: 0.6rem;
  background: white;
  border: var(--color-blue);
  border-radius: 10px;
  font-size: 0.8em;
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 0;
  z-index: 9999;

}
.cookiebanner-text   {
  width: 25vw;
  padding-left: 2vw;
    font-size: 0.9rem;
}
#cookie-button{
    margin-left: 2vw;
    background-color: var(--color-blue);
    color: white;
    border: none;
    height: 4vh;
}
.lang_button, #lang_sep{
  font-size: 1.2em;
  color:  var(--color-gray);
  text-decoration: none;
  padding-right: 1.2vw;
}
.lang_button:hover  {
  color:  var(--color-lightblue);
  cursor: pointer;
}

/*-------------------FOOTER-------------------*/

#footer {
  height: auto;
  background-color: var(--color-blue);
  padding: 3vh 5vw;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer-social {
  display: flex;
}

.footer-social img {
  padding-right: 1vw;
  padding-top: 3vh;
}
#txt_footer{
  font-size: 0.8rem;
}

.footer-right {
  float:right;
  padding-top: 8vh;
}
#ucbranco{
height: 10vh;
width: auto;
}


/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px){

  h1,h2,h3,h4,h5{
     font-size: 0.8em;
  }

  p, span, ul, li, a, button{
    font-size: 0.5em;
    font-weight: 100;
  }

#menu-txt{
  display: none;
  text-align: right;
  font-size: 1.2em;
  padding-bottom: 50vh;
  width:50vw;
  padding-left: 30vw;
  font-size: 1.5em;
}

#container {
    display: inline;
    cursor: pointer;
    border: none;
    background-color: var(--color-blue);
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .footer-social img{
    height: 3vh;
    width: auto;
  }

  footer h5{
    font-size: 0.6em;
  }
  .footer-right {
    padding-top: 4vh;
  }
  #ucbranco{
    height: 8vh;
    width: auto;
  }
  #ucb_footer{
    font-size: 0.8rem;
  }
  #txt_footer{
    font-size: 0.5rem;
  }
  .lang_button, #lang_sep{
    font-size: 0.9em;
  }



}
