
#news h1{
    padding: 10% 0 2% 5%;
}

.new1,.new2{
    padding-bottom: 5%;
}
.new1 img, .new2 img{
    width: 90%;
    height: 60vh;
    object-fit: cover;
    padding: 5% 5% 0 3%;
}
.new1 p, .new2 p  {
    color: #000000;
    padding: 1% 10% 1% 5%;
    justify-content: center;
    text-align: justify;
    line-height: 1.5;
}
#news h2,h3{
    color: #000000;
    padding-left: 5%;
}
