.menu video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.rectangle span {
  color: var(--color-blue);
  font-size: 0.8em;
}

#rect-month {
  color: white;
}

.txt_new{
  padding-bottom: 0vh;
}
#ucb-logo{
  height:60vh;
  width: auto;
}
.txt-ucb{
  font-size: 1.6em;
  width: 40vw;
}
#info-ucb{
    display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25vh 0;
}
#info-pilares{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 20vh;

}
.info{
  align-items: stretch;
}
.info img{
  height:15vh;
  width:auto;
  margin-left: 4vw;
}
.info h4{
  text-align: center;
  font-size: 1.4em;
width: 15vw;
}
.info button{
  background-color: var(--color-blue);
  color: white;
  border: none;
  width: 15vw;
  height:5vh;
  padding-bottom: 0;
}


.circulos {
  display: flex;
  justify-content: center;
}

#areas {
  display: flex;
  justify-content: center;
}

#areas h3 {
  padding-right: 2vw;
  text-align: center;
}


#timeline {
  position: relative;
}

#txt-background {
  position: absolute;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  opacity: 0.5;
  color: white;
}

#rectangle_message {
  padding-top: 6px;
  position: absolute;
  color: white;
  display: none;
}

.rectangle {
  width: 100%;
  height: 30vh;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circle {
  border-radius: 100%;
  background-color: white;
  width: 25px;
  height: 25px;
  margin: 7% 1% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-ucb {
  text-align: center;
  justify-content: center;
}


.filled_circle {
  background-color: var(--color-lightblue);
}

#news-container {
  padding: 3% 5% 5%;
  margin: auto;
}
.rect-new button{
  float: right;
  margin-top: 15vh;
  margin-right: 1vw;
  background-color: white;
  color:var(--color-blue);
  border:none;
  height: 4vh;
  font-weight: bold;
}



.ucs-anim video {
  width: 40vw;
  height: auto;
}

.container {
  padding-top: 3%;
  width: 65vw;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: flex;
}

.new1,.new2 {
  position: relative;
  text-align: left;
  transition: left 2s;
  margin-right: 5%;

}

.rect-new {
  width: 30vw;
  height: 50%;
  background-color: var(--color-blue);
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  left:0;

}
.new1 img, .new2 img {
  position: relative;
  width: 30vw;
  z-index: 0;
}

.txt_new {
  padding-left: 2%;
  color: white;
  position: absolute;
  z-index: 1;
}
#news-container h1{
  font-size: 2em;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */


@media screen and (max-width: 400px) {

  .rectangle {
    height: 10vh;
  }

  #txt-background, .txt_new {
    font-size: 0.5em;
  }

  #logo-anim {
    font-size: 0.4em;
  }

  .circle {
    width: 13px;
    height: 8px;
    margin: 7% 1% 0 0;
  }
  .container{
    display: block;
  }

  .circle span {
    font-size: 0.3em;
  }
  #logo-anim {
    padding: 10vh 10vw;
  }

  .new1 img , .container , .new2 img , .rect-new{
    width:40vw;
  }

  .new1, .new2{
    padding-bottom: 3vh;
  }
  #news-container h1{
    font-size: 1.5em;
  }

}
