.menu video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.ucs-title h4:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.ucs-title {
  display: flex;
  padding-left: 7vw;
}

.ucs-title h4 {
  padding-right: 2vw;
}

.rectangle span {
  color: var(--color-blue);
  font-size: 0.8em;
}

#rect-month {
  color: white;
}

.news h4 {
  padding-bottom: 0vh;
}

.ucs-info {
  display: flex;
  align-items: center;
}

.circulos {
  display: flex;
  justify-content: center;
}

#areas {
  display: flex;
  justify-content: center;
}

#areas h3 {
  padding-right: 2vw;
  text-align: center;
}

#logo-anim {
  padding: 20vh 10vw;
}

.ucs-anim {
  position: relative;
  left: 0;
  top: 0;
}

.value,
.invest,
.partnership {
  position: relative;
}

.invest,
.partnership {
  display: none;
}

#timeline {
  position: relative;
}

#txt-background {
  position: absolute;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  opacity: 0.5;
  color: white;
}

#rectangle_message {
  padding-top: 3px;
  position: absolute;
  color: white;
  display: none;
}

.rectangle {
  width: 100%;
  height: 30vh;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circle {
  border-radius: 100%;
  background-color: white;
  width: 25px;
  height: 25px;
  margin: 7% 1% 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-ucb {
  text-align: center;
  justify-content: center;
}

.info-value,
.info-invest,
.info-partnership {
  display: none;
  text-align: center;
  justify-content: center;
}

.filled_circle {
  background-color: var(--color-lightblue)
}

#news-slider {
  padding: 3% 5% 5%;
  margin: auto;
}

#news-slider h1 {
  font-size: 2em;
}

.ucs-anim video {
  width: 40vw;
  height: auto;
}

.slider {
  padding-top: 3%;
  width: 65vw;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: flex;
}

.news {
  position: relative;
  text-align: left;
  transition: left 2s;
  margin-right: 5%;

}

.rect-new {
  width: 30vw;
  height: 50%;
  background-color: var(--color-blue);
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;

}
.news img {
  position: relative;
  width: 30vw;
  z-index: 0;
}

.txt_new {
  padding-left: 2%;
  color: white;
  position: absolute;
  z-index: 1;
}



@media screen and (max-width: 900px) {
  #logo-anim {
    padding: 10vh 5vw;
  }

  .rectangle span {
    font-size: 0.5em;
  }

  .circle {
    width: 15px;
    height: 15px;
    margin: 7% 1% 0 0;
  }

  #rectangle_message {
    font-size: 0.5em;
    margin: 3% 1% 0 0;
  }

  .txt_new h4 {
    font-size: 0.5em;
    padding-bottom: 0;
    margin-top: 4px;
  }

  .arrows img {
    height: 3vh;
    width: auto;
  }

  #logo-anim {
    font-size: 0.7em;
  }

}

@media screen and (max-width: 700px) {

  .rectangle {
    height: 10vh;
  }

  #txt-background {
    font-size: 0.8em;
  }

  #logo-anim {
    font-size: 0.5em;
  }

  .circle {
    width: 15px;
    height: 10px;
    margin: 7% 1% 0 0;
  }

  .rectangle span {
    font-size: 0.4em;
  }

}
