.menu video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}


#rect-month {
  color: white;
}

.txt_new{
  padding-bottom: 0vh;
}
#ucb-logo{
  height:auto;
  width: 40vw;;
}
.txt-ucb{
  font-size: 1.4em;
  width: 40vw;
  text-align: center;
}
#info-ucb{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:25vh 10vw 0 10vw;
}

#info-pilares{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:25vh 10vw 25vh 10vw;

}

.info img{
  height:auto;
  width:12vw;
}

.txt-but h4{
  text-align: center;
  font-size: 1.4em;
  width: 12vw;
  height :20vh;
}
.info button{
  background-color: var(--color-blue);
  color: white;
  border: none;
  width: 12vw;
  height:5vh;
  padding-bottom: 0;
  border-radius: 3%;
  font-size: 1em;
}
.info button:hover{
  color: var(--color-lightblue);
}

.circulos {
  display: flex;
  justify-content: center;
}

#areas {
  display: flex;
  justify-content: center;
}

#areas h3 {
  text-align: center;
  color:var(--color-gray)
}

#timeline {
  position: relative;
}

#txt-background {
  position: absolute;
  text-align: center;
  bottom: 40;
  z-index: 0;
  overflow: hidden;
  opacity: 0.5;
  color: white;
  width:100%;
}

#rectangle_message {
  padding-top: 6px;
  position: absolute;
  color: white;
  display: none;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.rectangle {
  width: 100%;
  height: 30vh;
  background-color: var(--color-blue);

}

#container_news{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:80%;
  margin: auto;
  padding-top: 10vh;
  justify-content: space-between;
}

.circle {
  border-radius: 100%;
  background-color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;

}
.circle span {
  position: absolute;
  color: var(--color-blue);
  font-size: 0.9em;
  text-align: center;
  left:0;
  top:4;
  right:0;
  bottom:0;
}

.info-ucb {
  text-align: center;
  justify-content: center;
}

.filled_circle {
  background-color: var(--color-lightblue);
}

#prev-button, #next-button{
  margin: 2vh 2vw;
  background-color: white;
  color:var(--color-blue);
  border:none;
  height: 4vh;
  width: 6vw;
  font-weight: bold;
  border-radius: 3%;
}
#prev-button:hover, #next-button:hover{
  color:var(--color-lightblue);
}

#prev-button{
  position: absolute;
  left:10;
  bottom: 10;
}

#next-button{
  position: absolute;
  right:10;
  bottom:10;
}

#news-container {
  padding: 3% 5% 5%;
  margin: auto;
}

.rect-new button{
  float: right;
  margin-top: 15vh;
  margin-right: 1vw;
  background-color: white;
  color:var(--color-blue);
  border:none;
  height: 4vh;
  font-weight: bold;
  border-radius: 3%;
  font-size: 0.9em;
}

.rect-new button:hover{
  color:var(--color-lightblue);
}


.container {
  padding-top: 3%;
  width: 65vw;
  height: auto;
  overflow: hidden;
  margin: auto;
  display: flex;
}

.news-index {
  position: relative;
  text-align: left;
  transition: left 2s;
  margin-right: 5%;
}

.rect-new {
  width: 30vw;
  height: 50%;
  background-color: var(--color-blue);
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  left:0;

}
.news-index img {
  position: relative;
  width: 30vw;
  height:40vh;
  z-index: 0;
  object-fit: cover;
}

.txt_new {
  padding-left: 2%;
  color: white;
  position: absolute;
  z-index: 1;
}
#news-container h1{
  font-size: 2em;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */

@media screen and (max-width: 800px)  {
  #info-ucb, #info-pilares{
    margin-top:12vh;
    margin-bottom: 12vh;
  }
  .txt-ucb{
    font-size: 1.1em;
    width: 50vw;
  }
  #areas h3{
    font-size: 0.9em;
  }
  #areas {
    display: block;
  }
.txt-but h4 {
      font-size: 1em;
      height: 30vh;
}
.info button{
  font-size: 1em
}
#container_news{
  width:95%;
}
#prev-button , #next-button{
  width:10vw;
}
.circle {
  height: 20px;
  width:20px;
}
.circle span{
  font-size: 0.8em;
}
.container{
  display: block;
}

.rect-new , .news-index img{
  width: 60vw;
}
.footer-right{
  padding-top: 0vh;
}

}

@media screen and (max-width: 420px)  {

  #info-ucb, #info-pilares{
    margin-top:10vh;
  }

  #areas h3{
    font-size: 0.8em;
  }
  #info-pilares{
    display:block;
  }
  #info-pilares .info{
    display: flex;
  }
  .info{
    padding-bottom: 4vh;
  }
  #info-pilares{
    margin-bottom: 5vh;
  }

  .info img{
    width:auto;
    height: 9vh;
  }
  .txt-but{
    height: 20vh;

  }

  .txt-but h4{
    font-size: 0.8em;
    width: 60vw;
    height:5vh;
  }
  .info button{
    height:4vh;
    width:18vw;
    margin-left: 20vw;
    margin-top: 2vh;
  }
#news-container h1{
  font-size: 1.4em;
}
.news-index img{
    height: 30vh;
  }
  .rect-new button {
    margin-top: 10vh;
  }

  .rectangle{
    height:100vh;
    width:100vw;
    margin:auto;
  }

  #prev-button , #next-button{

    height: 5vh;
    width:20vw;
    font-size: 0.6em;
  }
  #container_news{
    display: block;
    margin: auto;
    padding: 0;
  }
  .circle {
    height: 14px;
    width:14px;
    margin-left: 14vw;
    margin-bottom: 0.5vh;
  }
  .circle span{
    font-size: 0.5em;
  }

}
