ul {
  padding-inline-start: 0px;
}

h4 {
  margin: 0;
  padding-bottom: 3vh;
}

#value-title {
  margin-top: 15vh;
  padding: 0 0 5vh 0;
  color: var(--color-green);
  font-size: 3em;
}

#info {
  padding: 10vh;
  margin: 0;
  background-size: auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("../photos/invest.png");
}

#subtitle {
  color: black;
  margin: 0;
  padding: 2vh 0;
  margin-left: 3vw;
}

.button-subtitle {
  display: flex;
  align-items: center;
}

#circ-promoting,
#circ-employ,
#circ-entrep,
#circ-nonprofit,
#circ-customer {
  background-color: var(--color-green);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

#circ-promoting:hover,
#circ-employ:hover,
#circ-entrep:hover,
#circ-nonprofit:hover,
#circ-customer:hover {
  background-color: var(--color-gray);
}

.promoting,
.employ,
.entrep,
.nonprofit,
.customer {
  padding-bottom: 5vh;
}

#academica-start-uc,
#explorer-uc,
#arrisca-c,
#inov-c {
  padding-top: 10vh ;
}

.photo img {
  height: 30vh;
  width: auto;
}

.photos {
  display: flex;
}

.photo {
  position: relative;
  padding: 0 2vw 5vh 0;
}

.numbers-anim img {
  height: 30vh;
  width: auto;
}

.numbers-anim {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  justify-content: flex-start;
}

.list #research,
.list #type2,
.list #type3 {
  padding-right: 10vw;
}

.patr img {
  width: 3vw;
  height: auto;
  display: block;
  padding-bottom: 1vh;
}

.number h3,
.number h5 {
  line-height: normal;
  margin: 0;
  padding-bottom: 2vh;
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  display: none;
  color: black;
  text-align: justify;
  margin: 0;
  padding: 0 20vw 0 0;
  line-height: 1.5;
}

@media screen and (max-width: 600px){
  #value-title, #subtitle{
    font-size: 0.9em;
  }
  #circ-promoting,
  #circ-employ,
  #circ-entrep,
  #circ-nonprofit,
  #circ-customer {
    height: 20px;
    width: 20px;
  }
  #info img{
    display: none;
  }
.number h2, .number h4{
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}
.intelectual img{
  display: inline;
  height: 15vh;
}
}
@media screen and (max-width: 800px){
  .number h2, .number h4{
    font-size: 0.7em;
    padding: 0;
    margin: 0;
  }
  .photo h4{
    font-size: 0.8em;
    display: list-item;
  }
  .photos{
    display: block;

  }
  .intelectual img{
    display: inline;
    height: 15vh;
  }

}
