ul{
padding-inline-start: 0px;
}
h4{
  margin: 0;
  padding-bottom: 3vh;
}

#info{
padding: 10vh 10vh;
margin: 0;
background-size:auto;
background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("../photos/invest.png");
}

#circ-promoting, #circ-employ,#circ-entrep, #circ-nonprofit,#circ-customer {
    background-color: var(--color-green);
    width: 3vw;
    height: 6vh;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

#circ-promoting:hover,#circ-employ:hover,#circ-entrep:hover,#circ-nonprofit:hover,#circ-customer:hover{
  background-color: var(--color-gray);
}
.promoting, .employ , .entrep, .nonprofit, .customer {
  padding-bottom: 5vh;
}
#info h1{
  color: black;
  margin: auto;
  padding: 2vh 0 2vh 0;
}
#academica-start-uc, #explorer-uc,#arrisca-c,#inov-c{
  padding-top:5vh;
  padding-bottom: 5vh;
}
.photo img{
  height:30vh;
  width: auto;
}

.photos{
  display: flex;
}
#txt1,#txt2,#txt3,#txt4,#txt5{
   display: none;
  color: black;
  text-align: justify;
  padding: 0 20vw 0 2vw;
  line-height: 1.5;
}
.photo {
    position: relative;
    padding-right: 2vw;
    padding-bottom: 5vh;
}
.numbers-anim img {
  height:30vh;
  width: auto;
}

.numbers-anim {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list{
  display: flex;
  justify-content: flex-start;
}
.list #research, .list #type2 , .list #type3{
  padding-right: 10vw;
}

.patr img{
  width:3vw;
  height: auto;
  display:block;
  padding-bottom: 1vh;
}
.number h3, .number h5{
  line-height: normal;
  margin:0;
  padding-bottom: 2vh;
}
