#value-title {
  margin-top: 15vh;
  padding: 0 0 5vh 0;
  color: var(--color-red);
  font-size: 3em;
}

#subtitle {
  color: black;
  margin: 0;
  padding: 2vh 0 2vh 0;
  margin-left: 3vw;
}

#info {
  padding: 10vh 10vh;
  margin: 0;
  background-size: auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("../photos/partnership.png");
}

.button-subtitle {
  display: flex;
  align-items: center;
}

li {
  list-style: square;
}

#circ-incubators,
#circ-patronage,
#circ-cooperation,
#circ-clusters,
#circ-aisep {
  background-color: var(--color-red);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

.incubator img {
  height: 30vh;
  width: auto;
}

.cooperation img {
  height: 10vh;
  width: auto;
  padding-right: 2vw;
}

#circ-incubators:hover,
#circ-patronage:hover,
#circ-cooperation:hover,
#circ-clusters:hover,
#circ-aisep:hover {
  background-color: var(--color-gray);
}

.incubators,
.patronage,
.cooperation,
.clusters,
.aisep {
  padding-bottom: 5vh;
}
#rierc{
  height: 8vh;
  width: auto;
}
#map{
  height:50vh;
  width: auto;
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  display: none;
  color: black;
  text-align: justify;
  margin: 0;
  padding: 0 20vw 0 0;
  line-height: 1.5;
}
@media screen and (max-width: 600px){
  #value-title, #subtitle{
    font-size: 0.9em;
  }
  #circ-incubators,
  #circ-patronage,
  #circ-cooperation,
  #circ-clusters,
  #circ-aisep {
    height: 20px;
    width: 20px;
  }
  #info img{
    display: none;
  }
}


}
