
#info{
padding: 10vh 10vh;
margin: 0;
background-size:cover;
background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("../photos/partnership.png");
}
li{
  list-style: square;
}

#circ-incubators, #circ-patronage,#circ-cooperation, #circ-clusters,#circ-aisep {
    background-color: var(--color-red);
    width: 3vw;
    height: 6vh;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

#circ-incubators:hover,#circ-patronage:hover,#circ-cooperation:hover,#circ-clusters:hover,#circ-aisep:hover{
  background-color: var(--color-gray);
}
.incubators, .patronage , .cooperation, .clusters, .aisep {
  padding-bottom: 5vh;
}
#info h1{
  color: black;
  margin: auto;
  padding-top: 2vh;
}
#txt1, #txt2,#txt3,#txt4,#txt5{
  /* display: none; */
  color: black;
  text-align: justify;
  padding: 0 20vw 0 2vw;
  list-style-type: square;
  line-height: 1.5;
}
