#value-title {
  margin-top: 15vh;
  padding: 0 0 5vh 0;
  color: var(--color-yellow);
  font-size: 3em;
}

#info {
  padding: 10vh 10vh;
  margin: 0;
}

#subtitle {
  color: black;
  margin: 0;
  padding: 2vh 0 2vh 0;
  margin-left: 3vw;
}

.button-subtitle {
  display: flex;
  align-items: center;
}

#circ-services,
#circ-tech,
#circ-intelec,
#circ-projects,
#circ-app {
  background-color: var(--color-yellow);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

#circ-services:hover,
#circ-tech:hover,
#circ-intelec:hover,
#circ-projects:hover,
#rcirc-app:hover {
  background-color: var(--color-gray);
}

.services,
.tech,
.intelectual,
.projects,
.application {
  padding-bottom: 5vh;
}

.services-grid img {
  width: 10vh;
  height: auto;
}

.services-grid {
  display: grid;
  grid-template-columns: 115px 115px 115px 115px 115px 115px 115px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-gap: 1rem;
  padding: 5vh 0 0 0;
}

.intelectual img {
  height: 50vh;
  width: auto;
  padding: 2vh 0 0 0;
}

.numbers-anim {
  float: right;
  padding-right: 30vw;
  font-size: 0.7em;
}


#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  display: none;
  color: black;
  text-align: justify;
  margin: 0;
  padding: 0 10vw 0 0;
  line-height: 1.5;
  font-family: Nexa, sans-serif;
  font-weight: 100;
}

/* ------------------------------------------ Media Queries ------------------------------------------ */
@media screen and (max-width: 400px){

  #value-title {
    margin-top: 5vh;
    font-size: 1.5em;
  }
  #circ-services,
  #circ-tech,
  #circ-intelec,
  #circ-projects,
  #circ-app{
    height: 20px;
    width: 20px;
  }
  .services-grid {
    display: none;
  }
  #txt3 img{
    height:10vh;
  }
  .number{
    font-size: 0.8em;
  }
  #numbers, .number h4{
    margin:0 0;
  }
  .numbers-anim{
    padding-right: 0;
    padding-left: 10vw;
    padding-top: 0;
  }


}
